[2014-10-11 08:57] vors opened #1 "Choco package install should have a version property"
Offtop: I looked for such resource about a month ago and didn't find it. So I created my poor-man version https://github.com/vors/Choco :) But it's class based.

[2015-03-02 18:16] RichHopkins opened #2 "Get-DscConfiguration Error"
I was able to use cChoco to deploy a Chocolatey package to my server.  I can run Test-DscConfiguration and it returns True, but when I run Get-DscConfiguration it errors out:

Get-DscConfiguration : The PowerShell provider C:\Program
Files\WindowsPowerShell\Modules\cChoco\DscResources\cChocoPackageInstall returned results that are not valid from
Get-TargetResource. The Ensure key is not a valid pr

[2015-03-05 14:04] lawrencegripper commented on #2
Great spot, should be all set, was a bug in the PackageInstaller resource that caused it to return an invalid configuration collection. Updated the powershell and mof so should be all set.

Wrote another example script here that might be useful for you too, it installs multiple packages from a list. https://gist.github.com/lawrencegripper/cee9b16f39db186e5f0b

[2015-03-09 17:30] MrGPT opened #3 "Prompted to run script"
Hello,

I am running a quick test with this resource trying to install Chrome and Notepad++.

Nothing gets installed, and the chocolately.log file shows:

2015-03-04 09:09:41,450 [INFO ] - Chocolatey v0.9.9.1
2015-03-04 09:09:41,544 [INFO ] - Installing the following packages:
2015-03-04 09:09:41,544 [INFO ] - google-chrome-x64
2015-03-04 09:09:41,544 [INFO ] - By installing you accept licenses fo

[2015-03-10 15:04] usepowershell commented on #3
I think it is prompting since it is using the newer version of chocolatey.  We'll likely need to make some changes as chocolately's new version is out.

[2015-03-11 21:51] #2 closed, assigned to nobody

[2015-03-17 09:11] lawrencegripper commented on #3
Agree with @smurawski, I've made a quick tweak to the packageinstaller resource to include the -y switch. Can you give it a spin and see if it does the trick?

Commit - 7fa5efa

[2015-03-18 17:46] MrGPT commented on #3
Hi Lawrence,
thanks for the update. It works. (I just had to make sure all the Windows Updates were installed first for Windows 2012 Server R2, otherwise it would complain that it could not unzip cChoco_2.0.zip from my Pull Server).
Thanks!!

[2015-03-18 18:11] lawrencegripper commented on #3
Great to hear it did the trick!

[2015-03-18 18:11] #3 closed, assigned to nobody

[2015-05-20 18:10] alkampfergit opened #4 "Question: is it possible to pass params to installation?"
Ex: when installing git.install we can choose some options like

 -params '"/GitAndUnixToolsOnPath /NoAutoCrlf"'.

is it possible to specify params in DSC?

[2015-05-27 15:47] lawrencegripper commented on #4
I've just pushed an update to add this in, can you have a go and see if it behaves as expected?

See the ExampleConfig.ps1 to see if being used.

[2015-05-27 15:48] lawrencegripper commented on #1
I've finally got around to adding this in now, let me know how you get on.
See the ExampleConfig.ps1 to see how it can being used.

[2015-05-27 16:30] alkampfergit commented on #4
Thanks a lot, I'll check as soon as possible :).

##

Gian Maria Ricci
Cell: +39 320 0136949

http://mvp.microsoft.com/en-us/mvp/Gian%20Maria%20Ricci-4025635
http://www.linkedin.com/in/gianmariaricci  https://twitter.com/alkampfer
  http://feeds.feedburner.com/AlkampferEng

On Wed, May 27, 2015 at 5:47 PM, Lawrence Gripper notifications@github.com
wrote:

[2015-09-02 01:34] sebastus opened #5 "Any plans to implement "source"?"
I'd like to put private packages out on MyGet, use cChoco to install them.

[2015-09-02 09:19] lawrencegripper commented on #5
I haven't got plans to implement as I'm a bit backed up at the moment. Would be happy to give you some pointers on how to add it and accept a pull request, if you wanted to add the functionality?

[2015-09-02 12:07] ferventcoder opened #6 "Use more secure resolution to chocolatey.org"
When you adapted this I believe we were still not able to address Windows 2003 due to SNI, but once we moved to dedicated servers we were no longer under that limitation and were able to secure it down.

Use HTTPS instead in these places:

https://github.com/PowerShellOrg/cChoco/blob/master/DSCResources/cChocoInstaller/cChocoInstaller.psm1#L198

https://github.com/PowerShellOrg/cChoco/blob/master/

[2015-09-02 12:09] ferventcoder commented on #6
Filed a PR #7.

[2015-09-02 14:53] #6 closed, assigned to nobody

[2015-09-02 23:20] sebastus commented on #5
Continuous Deployment to a VM is the use case that I'm interested in developing.  Being able to source packages as needed is one requirement.  Turns out to be pretty simple without changing cChoco - just put a 'choco source' statement in the Configuration.

Another is being able to verify a particular version of a package and upgrade if necessary.  I might be willing to invest, and I would definit

[2015-09-03 20:45] sebastus commented on #5
Submitted a pull request for these two features.

[2015-09-04 17:20] lawrencegripper commented on #5
Thanks for adding these in, I'm merged the pull request now.

 #9

I'm not sure how some of the install scripts would handle rolling back versions, this may error, however for your Continuous deployments scenario I can't see this being a big issue.

[2015-09-04 17:20] #5 closed, assigned to nobody

[2015-09-04 17:21] lawrencegripper commented on #4
Closing the loop on this one.

[2015-09-04 17:21] #4 closed, assigned to nobody

[2015-09-04 17:21] #1 closed, assigned to nobody

[2015-09-04 17:35] lawrencegripper opened #10 "Refactor ChocoInstaller to pull down latest install script"
Currently the install script is included in the module, this causes it to get out of sync with the latest install scripts from Chocolatey.

Ideally a workaround could be found to get the latest script but avoid the use of "Write-Host" as this causing errors when running under DSC.

Could try out aliasing Write-Host like so, need to have a play:

New-Alias Write-Host Write-Verbose

[2015-10-17 21:25] sebastus opened #11 "PowerShell Gallery version not up to date"
When will the PowerShell Gallery be updated with the latest?

[2015-10-19 16:44] alkampfergit opened #12 "using --allow-downgrade with Params seems not to work."
With this configuration

  cChocoPackageInstaller libreOffice
        {
            Name = "libreoffice"
            Version = "4.4.3"
            Params = "--allow-downgrade"
            DependsOn = "[cChocoInstaller]installChoco"
        }

I still got the error as --allow-downgrade was not specified.

Am I doing something wrong?

Thanks.

VERBOSE: [ADLDSDOMAIN]:                            [[cCh

[2015-10-19 20:40] ferventcoder commented on #12
Params are the package params passed to choco, that get passed on to the package itself. It appears you need additional arguments passed to choco itself, which is a new field that I don't believe exists here yet.

See https://github.com/PowerShellOrg/cChoco/blob/master/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L153

Side note: https://github.com/PowerShellOrg/cChoco/blob/master/D

[2015-10-20 02:50] ferventcoder commented on #11
Who pushes this? @dlwyatt ? @smurawski ?

[2015-10-20 06:08] alkampfergit commented on #12
Thanks for the clarification, I think that should not be a bit problem to fork and modify the package to add such a functionality.

[2015-10-20 13:30] dlwyatt commented on #11
Looks like Steve set it up, and he's the only owner listed at the moment:  http://www.powershellgallery.com/packages/cChoco/

[2016-01-15 09:07] lawrencegripper commented on #11
@smurawski if you can share the key I'll look to setup an appveyor ci process to push up the version when new changes are merged in

Sound like a good plan?

[2016-01-15 21:12] usepowershell commented on #11
@lawrencegripper what's your username for powershellgallery?  I'll add you as a maintainer.

[2016-01-18 18:12] lawrencegripper commented on #11
lawrencegripper, same as here, should do the trick

[2016-01-18 18:40] lawrencegripper commented on #10
Been picked up in PR #15 just looking to validate and merge.

[2016-01-19 15:12] usepowershell commented on #11
@lawrencegripper Added to powershellgallery, you should have a notification from there - and after that, release at will

[2016-01-21 12:02] lawrencegripper commented on #11
Thanks just setting up the CI build now to validate the DSC resources and push up to powershell gallery. @smurawski to setup the webhook so it kicks off after merging PRs/Changes I need to access the repo settings. Can you alter the permissions or add in the webhook for me?

I've emailed you the web hook, so go for whichever is easier.

[2016-01-21 17:30] usepowershell commented on #11
@lawrencegripper I made you an admin on the repo, so let me know if that works for you.

[2016-01-25 18:37] lawrencegripper commented on #11
Thanks that's perfect, have added the hook so now push should trigger quick test of the resource using xDSCResourceDesigner and publishing to PSGallery

[2016-01-25 18:37] #11 closed, assigned to nobody

[2016-01-25 18:38] #10 closed, assigned to nobody

[2016-03-17 09:27] gambrose opened #17 "Why is cChocoInstaller.InstallDir required?"
Why is InstallDir required when Chocolatey installer has default value?

[2016-03-17 12:56] ferventcoder commented on #17
No idea.

[2016-03-17 12:56] ferventcoder commented on #17
I mean, I see this but I'm not a maintainer of cChoco so I'm not privy to how it was designed. It could be the chocolatey install directory, but I'm not sure.

[2016-03-17 13:18] dlwyatt commented on #17
DSC resources require a key property of some sort; they can't exist without _something_ being mandatory.  I suspect that in this case, there just wasn't a better candidate.

[2016-03-17 13:40] lawrencegripper commented on #17
@dlwyatt exactly my logic, it meets the key property constraint and felt like the best choice at the time.

Happy to tweak if we can find a better candidate?

[2016-03-17 13:41] dlwyatt commented on #17
IMO, it's not worth the breaking change even if you did find a "better" option later.  Works fine as-is.  :)

[2016-03-17 13:42] gambrose commented on #17
That makes sense then.

I would propose version as a candidate with special handling for 'latest'. But as you say it would be a breaking change and not really worth it.

[2016-03-18 16:11] #17 closed, assigned to nobody

[2016-04-06 19:34] elliotwesoff opened #18 "Possibility to specify local packages in DSC config?"
Hey Lawrence,

Thanks for all the hard work on this repo, we're really getting a lot of good use out of it in a program we're developing here at our firm.  I was just curious, though, if there's currently a way to specify local packages in the cChoco/DSC script so that it looks to a local package for installation rather than to the main Chocolatey package base?  Hope to hear from you soon, thanks!

[2016-04-06 22:12] ferventcoder commented on #18
Definitely a necessity for business usage of Chocolatey

[2016-04-06 22:13] ferventcoder commented on #18
And would bring it on par with the Puppet, Chef, Salt, and Ansible providers.

[2016-04-12 08:30] lawrencegripper commented on #18
Hi @elliotwesoff,

Yeah I believe this is already present, if you specify the "Source" parameter on a package this will add an additional package source, like an internal or private nuget repository.

https://github.com/PowerShellOrg/cChoco/blob/master/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L68

[2016-04-18 21:55] elliotwesoff commented on #18
That worked beautifully!  Thank you @lawrencegripper

[2016-04-18 21:55] #18 closed, assigned to nobody

[2016-05-04 17:06] lawrencegripper opened #19 "Review #512 https://github.com/chocolatey/choco/issues/512"

[2016-05-04 20:48] ramit-rulz opened #20 "Add cChocoConfig Resource"
I have had some issues installing 32 bit Choco packages on 64 bit machines with SYSTEM user due to incorrect temp path resolution.
There should be a way to configure cacheLocation in cChocoInstaller using DSC. Choco introduced this in v0.9.9.9 with "choco config set cacheLocation fullPath"
 https://github.com/chocolatey/choco/wiki/How-To-Change-Cache

[2016-05-04 21:58] ferventcoder commented on #20
TBH - you've always been able to change the cache since like early 0.9.9.x series. The config command just made it easier to do.

[2016-05-05 13:26] ramit-rulz commented on #20
Yes, you are right. So is there a way to define the cache location in cChocoInstaller DSC resource?

[2016-05-05 17:02] ferventcoder commented on #20
I am not sure. I'm guessing not yet.

[2016-05-11 11:22] ebekker opened #21 "Add an 'Ensure' resource property"
Does it make sense to add an `Ensure` property (with value set `Present`, `Absent`) to mimic the structure of other DSC resources with similar behavior like the built-in `WindowsFeature` or add-on [`PackageManagementProviderResource`](https://github.com/PowerShell/PackageManagementProviderResource)?

This will allow prohibiting Choco packages via DSC.

[2016-05-11 12:04] lawrencegripper commented on #21
Yeah would love to add this one in. I'd also considered, along the same lines, ensuring that the package is kept up to date with latest, if a specific version isn't specified.

Not sure how much time I'll have to pick this up in the short term, happy to accept a pull request if you'd like to work on a rough implementation?

[2016-05-11 12:19] lawrencegripper commented on #20
There isn't any provision for this in the cChocoInstaller. I'd be tempted to say this should be broken out into another Resource "cChocoConfiguration", for example. This can then be used to test, set and update the choco config independently of the installation, which would be a one time operation.

[2016-05-11 16:08] ebekker commented on #21
I've submitted PR #22 with this enhancement, hopefully it's not too rough.  Note, I've only tested in on WMF 5.0 environment in a Pull-mode setup.

[2016-05-13 13:35] erichexter opened #23 "Add capability to Runas for cChocoPackageInstall resource"
I have a situation when installing sql server express where once installed through the system user, there is no administrator (sysadmin) setup because the setup ran as system.  The only work around I can think of is to run the package installer inside of a Invoke-command script using psCredentials to invoke this in a user context. Then for this to work, I would need to pass in the credentials into

[2016-05-13 13:50] ferventcoder commented on #23
Is there nothing you can pass to the installer as far as an unattend file goes?

[2016-05-13 13:51] ferventcoder commented on #23
Clarification/context - I'm assuming you are using DSC and Chocolatey with production level systems, so I'm under the impression you have your own repository of packages, thus have the ability to change the packaging for your sql server package. :)

[2016-05-13 18:28] erichexter commented on #23
Actually this is for the build servers so I am using he public feeds. I
could create my own private feeds

On Friday, May 13, 2016, Rob Reynolds notifications@github.com wrote:

##

Eric Hexter

blog | http://Hex.LosTechies.com
info | http://www.linkedin.com/in/erichexter

[2016-05-13 21:26] ferventcoder commented on #23
Right on.

[2016-05-25 05:03] DamianBis opened #24 "Set default source for chocolatey in cChocoInstaller"
We set up a default source that is an internal server when we do our DSC in a script that runs after chocolatey installs. This script removes the default chocolatey and then adds in our source.

It would be nice if this was done in the DSC module. I'm happy to write this up and do a pull request as I've already got most of the code if it's a feature you want in this module.. and it will help lesse

[2016-05-25 07:08] lawrencegripper commented on #24
Hi,

I think we have this functionality, def for adding new internal only sources, in the module. Is this the behaviour you wanted? In the module it's on a per package basis, to give more flexibility.

https://github.com/PowerShellOrg/cChoco/blob/master/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L70

Happy to take you're thoughts if you think it's not quite right.

[2016-05-25 15:29] ferventcoder commented on #24
@lawrencegripper I just took a look and I'm not sure it's quite right. I think when folks pass along the source attribute, they want it to apply to that command only. From the looks of it, Line 81 needs the specified source passed to it if that option was passed. Basically if someone is passing a source, they only want to use that source and nothing else.

Then what I believe @DamianBis is request

[2016-05-25 15:35] ferventcoder commented on #24
With the [Puppet provider](https://github.com/puppetlabs/puppetlabs-chocolatey), it is specified like this:

[code]

Is basically the same thing what you are looking for @DamianBis ?

[2016-05-25 22:14] DamianBis commented on #24
Yeah. The idea being that we want to set a GLOBAL source for chocolatey so that if at any time someone was to go on that server and type choco list they would only be hitting OUR chocolatey server not the default or any other chocolatey server.

The way i've done it in my fork is that it's added into the cChocoInstaller module as parameters (source name and source URL). If any other sources exist

[2016-05-25 22:20] ferventcoder commented on #24
I certainly prefer explicit steps. It is the most flexible as far as configuring more than just two sources, one of which is the default feed. 👍

[2016-05-27 08:06] DamianBis opened #25 "Reboot computer if installer returns a reboot code"
Some packages won't install properly without a reboot. Chocolatey never reboots the PC. from my recollection there was a return code that advises that a reboot is required @ferventcoder can probably confirm?.

This resource would benefit if we can add a variable "SupressReboot" into the cChocoPackageInstall which if it's FALSE the DSC config will set the global variable for a reboot required.. DSC

[2016-06-01 23:30] ferventcoder commented on #25
@DamianBis 0.9.10 (in beta for a tiny bit longer) will return the exit codes from the packages - https://github.com/chocolatey/choco/issues/512. This can be the queue to reboot. 👍

[2016-06-04 06:53] nebffa opened #26 "cChocoInstaller's choco existence check is more advanced than cChocoPackageInstall"
cChocoInstaller checks that choco is on the system path by doing `$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine")`. cChocoPackageInstall should also do this so that it too can check whether choco was installed by other means.

[2016-06-17 17:30] javydekoning opened #27 "Unused 'ExecPowerShellScript' function in cChocoInstaller.psm1"
Function is not called nor exported. Hence should be removed.

The call to this function was removed in commit f69095dd5b0d938c3c970499249e7c21dbd1518b

[2016-06-17 18:49] javydekoning opened #29 "Test fails but Set doesn't configure Choco"
Test fails because:
$InstallDir is not equal to $env:ChocolateyInstall

Set does not enter loop because:
if (-not (DoesCommandExist choco) -or -not (IsChocoInstalled))

Command exists and Choco is installed. If Set is called, it should always set the configuration.

[2016-06-17 20:48] ferventcoder opened #30 "Chocolatey 0.9.10 and exit codes - cChoco is now reporting successful package installs as failures"
Related to #19, but better context.

I mentioned this before in April - https://github.com/chocolatey/choco/issues/512. 0.9.10 just released today and folks are going to start reporting breakages even though we noted it in our release notes and tried to give plenty of notice to folks that it was coming (2 months notice in this case).

Here is the relevant portion of the [ChangeLog](https://github.

[2016-06-17 20:49] ferventcoder commented on #19
@lawrencegripper I created another issue. Feel free to update this one and close that as a duplicate or close this one as a duplicate. I wanted to provide folks an easier way to find the information as they are going to start seeing breakages today and need to know what to do for now while they wait for the provider to be fixed.

[2016-06-18 09:53] lawrencegripper commented on #30
Morning,

I reviewed this when it was raised, as we rely on the Test-Resource call to validate the install of the package rather than checking an exit code from the choco install command I don't believe this will affect the DSC Resource.

Installer invoked here: https://github.com/PowerShellOrg/cChoco/blob/master/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L145

Check install run h

[2016-06-18 09:59] lawrencegripper opened #31 "Looking for assistance with upkeep and improvements."
Hi,

When I created the resource I was regularly using DSC however, through a change of job and circumstances (baby on the way, joined a startup), I'm struggling to dedicate time to upkeep and improvements.

I'm looking for community members who are using this resource and DSC more regularly than me, to take the resource forward. If that's you then drop me a note below or info[at]grippers.co.uk an

[2016-06-18 10:00] lawrencegripper commented on #30
#31 - Made an issue to track request for assistance.

[2016-06-18 10:23] ebekker commented on #31
Hey, I'm actually kinda in the opposite position wrt/ work -- we're trying to bring more DSC into our regular processes and automation, and we already make heavy use of choco to manage our server deployments (which led me to your DSC resource), so I would be willing to try to help and contribute.

[2016-06-18 11:26] lawrencegripper commented on #31
Thanks for offering to help out, sounds like you'd be a great fit.

Are you happy that we would aim to keep the resource useful on both desktop and server?

One of the uses I still have for the module is building out a dev box with all the tools needed etc.

If you're happy with that I'll sort out repo access for you. Have you used appveyor before? It's used at the moment  for the automated build

[2016-06-18 11:31] ebekker commented on #31
Yes, I wouldn't want to do anything that would limit its utility unnecessarily -- actually I kinda misspoke in the sense that we do use it for _desktop-ish_ computers as well -- we're starting to use it to build out our developers' main work VMs which are hosted in the cloud so it's not just a server scenario in our case either.

[2016-06-18 11:39] ebekker commented on #31
I use AV for some of my own OSS projects, for example [ACMESharp](https://github.com/ebekker/ACMESharp) uses [it](https://ci.appveyor.com/project/ebekker/acmesharp) for all automated builds and even kicking off [automated integration testing](https://build.powershell.org/externalStatus.html?projectId=ACMESharp) thanks to the free [Community Build service](https://powershell.org/community-build-ser

[2016-06-21 21:19] MattHodge commented on #31
@lawrencegripper I would be interested too, was contemplating making my own class based resource for Choco or PRing this one. Just made a separate DSC resource here: https://github.com/MattHodge/Hubot-DSC-Resource

[2016-07-06 00:38] DamianBis opened #32 "cChocoInstaller Test-TargetResource returns false when chocolatey is installed"
Issue is with how chocolatey is installed.

Line 65-68 does an Environment Variable for chocolatey install path. but it is only valid for that session. as soon as a new shell is opened the environment variable is gone.

[2016-07-06 00:42] DamianBis commented on #32
Created a Pull Request with the change to make it work. have tested with v5

[2016-07-07 08:21] lawrencegripper commented on #31
Thanks both, @MattHodge would be really happy to accept PRs. @ebekker I've invited you as a collaborator to the repo so you're all set to take it forward and hopefully it continues to be useful to others. Happy to get involved as and when I can, if you need me for anything just mention me in an issue and I'll keep an eye out for the notifications.

[2016-07-07 08:22] lawrencegripper commented on #32
Thanks for the PR @DamianBis, I'm stuggling for time to support the project and @ebekker has kindly offered to take the helm. I'll leave this one with him to review.

[2016-07-07 08:22] #30 closed, assigned to nobody

[2016-07-13 06:54] lkjangir opened #34 "shimgen fails to shims of chocolateypackage with PowershellDSC"
I am installing NSSM using PowershellDSC. It installs NSSM but shimgen fails to generate a shim of nssm executable binary.  I am running DSC with administrator privileged account.

Here is the error log -

Calling command ['"C:\Choco\tools\shimgen.exe" --path="..\lib\NSSM\Tools\nssm-2.24\win64\nssm.exe" --output="C:\Choco\bin\nssm.exe"  --iconpath="C:\Choco\lib\NSSM\Tools\nssm-2.24\win64\nssm.exe"

[2016-07-13 16:33] ferventcoder commented on #34
This has been reported elsewhere as well.

https://groups.google.com/d/msgid/chocolatey/4eb58e7b-ab61-4790-9f71-adbcfcb8dae4%40googlegroups.com

Same package. Out of curiosity, is that file locked and in use? `c:\Choco\bin\nssm.exe`

[2016-07-13 16:59] ebekker commented on #34
Since this issue doesn't appear to be specific to the DSC resource for choco, I'm going to close this issue.

The discussion is continuing on the Google Group above, as well as in the comments section of the [package on chocolatey.org](https://chocolatey.org/packages/NSSM).

[2016-07-13 16:59] #34 closed, assigned to nobody

[2016-07-13 17:16] ebekker commented on #27
PR merged in.

[2016-07-13 17:16] #27 closed, assigned to nobody

[2016-07-13 17:17] ferventcoder commented on #34
@ebekker do you have a good email address I can reach out to? my email is ferventcoder at gmail. You can just send a message to that and I will follow up.

[2016-07-13 22:55] DamianBis commented on #29
#32 has gone part way to fixing this.

Just needs another bit of code to uninstall chocolatey from incorrect location and install it in correct location

[2016-07-15 01:09] RobFaie opened #36 "cChocoPackageInstall Test-TargetResource Throws instead of returning false."
cChocoPackageInstall Test-TargetResource throws an error when Chocolatey isn't installed causing Consistency to fail instead of reporting an inconsistency. Test-TargetResource should return $False instead so that other resources can be checked.

[2016-07-15 11:31] ebekker commented on #36
Thanks, your change has been merged in.

[2016-07-15 11:31] #36 closed, assigned to nobody

[2016-07-21 04:53] DamianBis commented on #26
cChocoPackageInstall should only care about whether chocolatey is installed or not. it shouldn't care about where it is installed or if it was installed by any specific way. Because it's perfectly legitimate usage that i want to install chocolatey manually or some other way but then use cChocoPackageInstall to install the packages.

[2016-07-21 16:05] ebekker commented on #24
PR #35 has been merged in to implement this.

[2016-07-21 16:05] #24 closed, assigned to nobody

[2016-07-30 01:10] dcuomo opened #38 ""Params" parameter not working"
Not sure that this is a problem with the resource or if I'm doing something incorrectly, however I'm trying to maintain an offline, parameterized ADK 8.1 Installation.

Params in cChocoPackageInstaller contains
        **params = '/Features OptionID.WindowsPerformanceToolkit'**

The package contains the following silentargs in the chocolateyinstall.ps1
        **silentargs = "$env:ChocolateyInstal

[2016-07-30 11:39] ferventcoder commented on #38
Do you have the underlying chocolatey log from the logs folder you can provide for the run?

[2016-08-01 01:34] DamianBis opened #39 "cChocoPackageInstall Allow "Latest" as a package version"
From looking at the code (please correct me if i'm wrong) If you don't specify a version and a newer version is available the cChocoPackageInstall will not do anything.

cChocoPackageInstall should allow "latest" as a package version and then any time it checks if there is a newer version installed on the server than the client it should upgrade that package.

[2016-08-01 05:57] lawrencegripper commented on #39
I'd been considering this functionality a while back but wasn't sure if it was a bit too invasive for the install resouce. I'm not sure I'd expect it to behave that way.

Would it be better to have a separate resource, which is responsible for updating packages? Potentially (sudo code) like ... cChocoUpdate { packages: ["chrome", "notepadplusplus"] }

[2016-08-01 12:51] ferventcoder commented on #39
@lawrencegripper @DamianBis "latest" would line it up more with something like Puppet, where you can ensure it is installed, absent, latest, or a particular version. Of course the resource name is just `package` and not `cChocoPackageInstall`. You could think of "Install" in that word as the noun "install" and not the verb/action. Especially if this is how you ensure that it is removed.

[2016-08-01 22:19] dcuomo commented on #38
[chocolatey.txt](https://github.com/PowerShellOrg/cChoco/files/394872/chocolatey.txt)

Thanks for taking a look.

From this line in the log -- _2016-08-01 18:12:53,123 [ERROR] - ERROR: Running ["c:\temp\ADK81\adksetup.exe" /Features OptionID.WindowsPerformanceToolkit /norestart /quiet /ceip off /Features OptionID.WindowsPerformanceToolkit] was not successful. Exit code was '-2147023274'_

It appea

[2016-08-02 15:49] ferventcoder commented on #38
Look at the arguments -

`c:\temp\ADK81\adksetup.exe" /Features OptionID.WindowsPerformanceToolkit /norestart /quiet /ceip off /Features OptionID.WindowsPerformanceToolkit`

I see what is wrong now. Chocolatey Install Arguments are already passed transparently to the native installer, and require no interaction from the package itself.

Change:

[code]

to

[code]

[2016-08-02 17:31] ferventcoder commented on #38
@lawrencegripper @ebekker please close as not an issue. Thanks. 👍

[2016-08-02 17:31] ferventcoder commented on #38
@dcuomo apologies, misread what you wrote in your original post.

[2016-08-02 23:14] dcuomo commented on #38
My larger question, which I didn't make clear and mis-titled the "issue" (and apologize for throwing the troubleshooting of course) is that I don't believe there is a way to pass parameters to the native installer unless I'm doing something incorrectly (kind of a newbie to chocolatey - so totally possible).  In context of the ADK, on one system I'd like to install the performance toolkit.  On anot

[2016-08-03 03:49] nebffa commented on #38
I second what @dcuomo is saying. It would be really useful to be able to pass install arguments to chocolatey

[2016-08-03 04:05] ferventcoder commented on #38
That makes a bunch more sense.

This seems to make sense as an add unless someone else has already added this (which it could be)

The user context likely. When you run it, you are running it under your username. When DSC runs it, I believe it runs under LocalSystem (BUILTIN\SYSTEM). Not sure if that would cause any differences. I know that folks like @jpogran, @ebekker, and @lawrencegripper could

[2016-08-04 00:43] DamianBis commented on #39
I'll get working on this some time this week, @ebekker what are your thoughts on using cChocoPackageInstall or making a new resource cChocoUpdate?

[2016-08-04 13:45] ebekker commented on #39
I'm OK with _enhancing_ the existing resource and adjusting in a similar manner to what @ferventcoder is suggesting (i.e. add a third option of `Latest` to the `Ensure` property) or just simply using a sentinel value like `TRACK_LATEST` for the `Version` property.  This does seem very _natural_ to me from a user perspective.

@lawrencegripper to address your thoughts, I think this is still more in

[2016-08-04 16:43] ferventcoder commented on #39
Similarly, Puppet also runs on a schedule of every 30 minutes by default.

Organizations, which are typically the users of things like DSC and Puppet, do not typically use the community repository (https://chocolatey.org/packages).

For latest, it typically means check what is most up to date through `choco outdated -r` and parsing that output.

This would be awesome. One thing to consider is that

[2016-08-04 16:47] ferventcoder commented on #39
To give you a general idea, this was yesterday:

![image](https://cloud.githubusercontent.com/assets/63502/17410400/1a780a9c-5a39-11e6-9d9b-d68f54f87f1b.png)

![image](https://cloud.githubusercontent.com/assets/63502/17410404/273b4cd0-5a39-11e6-9dad-b957af283890.png)

[2016-08-05 10:29] ebekker commented on #39
OK, I'm sold on my efficiency concerns.  I guess now to come to consensus on conventions for how to express this _pinning_ to the latest version of a package...

[2016-08-11 03:07] priceflex opened #42 "Upgrading Packages with DSC"
I have used the command: cup    before to update the packages and it works great for public hosted packages. We currently have a bunch of locally maintained packages and I wanted to know if there was a way to have DSC update the local and public packages automatically.

[2016-08-11 03:25] priceflex commented on #42
Or Is there a way to just add the version number to the configuration?

[2016-08-11 22:58] DamianBis commented on #42
Can do it like this

[code]

#39  is open to allow "Latest" as a version number. this should be available in the next couple of weeks.

[2016-08-13 00:12] priceflex commented on #42
Thank you I will try that.

[2016-08-13 00:12] #42 closed, assigned to nobody

[2016-08-14 22:51] #32 closed, assigned to nobody

[2016-08-15 12:18] simondel opened #44 "`Source` option not working as expected"
I'm having some issues with the `Source` option in the `cChocoPackageInstaller`. We have a private Chocolatey repository which we use for some packages. I'm working a package right now which has the same name as a public package, my config is like this:

[code]

During testing our private hipchat package had a lower version (0.0.6) than the public package (2.2.1164) and when applying the DCS confi

[2016-08-15 12:29] ferventcoder commented on #44
When specifying a source, Chocolatey should only look at that source.

@simondel I think the provider here may not be passing through quite correctly.

I'm guessing the following may work as a workaround for now:

[code]

[2016-08-15 12:30] ferventcoder commented on #44
If not, it's likely a bug in this provider.

[2016-08-15 12:32] simondel commented on #44
Thanks for the quick response! I initially used your suggestion and then moved to a cChocoSource resource when that didn't work (and because I was specifying the url more than once in my DSC config).
So I think this is a bug, unfortunately.

[2016-08-15 12:36] ferventcoder commented on #44
This looks like the culprit:

https://github.com/PowerShellOrg/cChoco/blob/b44cd3bfa0c5b423f344847015b37b903d6ab165/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L79-L92

[2016-08-16 01:10] DamianBis commented on #44
Yup. the issue is that instead of running the install passing through the -source command to chocolatey it is just adding the source to chocolatey.

[2016-08-16 15:57] dragon788 commented on #25
@lawrencegripper @ebekker I noticed this doesn't trigger the DSC "reboot requested" code logic. Is there somewhere in the code we could set the flag "$global:DSCMachineStatus = 1" which will allow DSC to reboot the machine itself if the client config "RebootNodeIfNeeded = $true" is set?

See the notes about setting it via another resource here, https://powershell.org/forums/topic/handling-reboots-

[2016-08-21 14:44] javydekoning commented on #23
Can't you just use 'PsDscRunAsCredential'? You will need to set-up certificates and a pullserver to secure your credentials.

[2016-08-21 18:00] javydekoning opened #45 "Chocolatey 0.10 breaking some installers."
0.10.0 includes a major security enhancement (checksum requirement). This breaks several packages right now and will hopefully be fixed by maintainers in the future. However the cChocoPackageInstaller resource requires an ability to set the --allow-empty-checksums param.

[2016-08-24 14:00] OxHobbs commented on #45
I ran into this issue as well and have added an additional property that allows you to specify a property to bypass the checksum (--allowEmptyChecksums).  Added pull request to address the issue.

[2016-08-24 21:18] ferventcoder commented on #45
I appreciate the way you stated this @javydekoning. Very nice.

For other folks looking for more information, take a look at https://github.com/chocolatey/choco/issues/910

[2016-08-25 14:42] javydekoning commented on #45
@FatherDragon Thanks, I also added a pull request with a slightly more dynamic approach to also allow other Choco Install Params as this feature is currently lacking. See PR #50

@ferventcoder cool, thanks for including the reference. Very nice addition to Choco :)

[2016-08-25 17:57] javydekoning commented on #44
Indeed, the code mentioned above is incorrect. If #50 get's merged I'll continue work on this, seems like a rather easy thing to fix.

[2016-08-25 18:05] javydekoning commented on #38
@dcuomo I don't have an answer to your first question.

As for the second, what @ferventcoder mentions is correct. DSC runs under the 'nt authority\system' context UNLESS you specify 'PsDscRunAsCredential'. This results in the fact that some installers might behave differently or even fail completely. An example of this would be Atom package which doesn't install at all if no credentials are speci

[2016-08-25 18:22] javydekoning commented on #31
@lawrencegripper I created a few PR's, and would love to do some code clean-up to adhere to PSScriptAnalyzer rules and setup additional Pester tests. Let me know if and how I can get involved.

[2016-08-30 14:35] ferventcoder opened #52 "Pass Chocolatey Arguments as one parameter (install options?)"
We would like to be able to pass through arguments directly to Chocolatey, without needing to add a parameter for each new option. Would you be keen to this?

[2016-08-30 15:10] javydekoning commented on #52
@ferventcoder Already made a PR for this. See #50.

This takes only switch params right now. I could adjust it to take anykind of param. Accepting ANY param would break paramvalidation.

Another option would be to just wrap all chocolatey params in a single string.

[2016-08-30 15:48] ferventcoder commented on #52
@javydekoning I didn't see it allowed choco switch parameters - I see that now.

I totally meant something like `$chocoSwitchParams`, but no mapping on what could be passed to it.

At the end of the day, instead of trying to keep track of all of the arguments that can be passed (you missed all of the pro/business edition switches/options by the way ;) ) and permutations of how those could be passe

[2016-08-30 16:22] ferventcoder commented on #52
Very nice! I provided some comments on the PR.

[2016-08-30 16:22] ferventcoder commented on #52
Duplicate of #45 ?

[2016-08-30 16:44] javydekoning commented on #52
@ferventcoder This would superseed #45 and #12 indeed.

Secondly, I have to agree with you here. I think I should change #50 and implement it your way. This way there is no validation in DSC but you are able to pass anything down to choco. @ebekker @lawrencegripper what do you guys think?

[2016-08-30 17:05] lawrencegripper commented on #52
Sounds good to me as it would allow more flexibility for users and reduce maintenance overhead of the DSC resources. Loss of validation is a shame bit feels like a fair trade-off

[2016-08-30 19:39] javydekoning commented on #52
Ok good, I'll re-write this somewhere later this week.

[2016-08-31 20:31] 4c74356b41 commented on #45
Could you, perhaps enlighten me? Params = "--allow-empty-checksums" doesn't work.

Thanks!

[2016-08-31 20:33] 4c74356b41 commented on #38
But why don't you want to add ability to pass install arguments?

[2016-08-31 21:16] ferventcoder commented on #38
@4c74356b41 provided you are not a bot - we want both.

[2016-08-31 21:53] ferventcoder commented on #45
@4c74356b41 anything with `Params` goes into package parameters -  `choco install --package-parameters 'value of Params here'`

[2016-09-01 07:26] 4c74356b41 commented on #45
I'm talking about cchoco. when specifying Params = "--allow-empty-checksums" package fails, but when doing the same thing manually install succeeds

[2016-09-01 07:28] 4c74356b41 commented on #38
well, that's a nice way to talk to a stranger

[2016-09-01 07:34] lawrencegripper commented on #45
The params argument in cChoco maps to the "--package-parameters" argument on choco not as a parameter on the choco command.

What your config will do, if I haven't missunderstood, is this..

choco install git --package-parameters '--allow-empty-checksums'

Where what you want is this...

choco install git --allow-empty-checksums

#52 is working on adding this functionality at the moment

[2016-09-01 07:35] 4c74356b41 commented on #45
So there's no way to install package with empty checksum using cchoco at the moment?
And no way to configure choco natively?
choco feature enable -n allowEmptyChecksums? Without adding script resource to dsc configuration?

[2016-09-01 07:42] lawrencegripper commented on #45
Correct, @javydekoning has kindly submitted a PR to fix this and is making some changes before we merge it in and push out an update.

[2016-09-01 07:45] 4c74356b41 commented on #45
hm, could you perhaps add ability to configure chocolatey: (and this could be, say, comma separated list?)

[code]

[2016-09-01 07:47] javydekoning commented on #52
@ferventcoder so we have 2 options here:

1 - Array:

[code]

2 - String:

[code]

Either way it's going to be different from 'version' and 'Params'. I think that might be confusing to the user. I'm leaning towards the string option but it the array option looks a bit better in code.

@lawrencegripper @ebekker opinions?

[2016-09-01 07:51] lawrencegripper commented on #52
I agree, the string option seems like the best route. Always a fan of keeping things simple, when appropriate, and it also keeps things consistent with the way in which the other package "params" option works too.

[2016-09-01 07:54] lawrencegripper commented on #45
We're looking at enabling this on a per-package basis, for flexibility, rather than in cChocoInstaller. Happy to discuss allowing something in cChocoInstaller but best to start a seperate issue to talk through this now.

If you'd like to look at what is being worked have a read of #52 I'm going to close off this issue for now though so we don't have two conversations running in parallel.

[2016-09-01 07:54] #45 closed, assigned to nobody

[2016-09-01 08:03] 4c74356b41 commented on #52
I'd say string. It mimics the way you actually work with choco - so makes it intuitive (in a way)

[2016-09-01 08:14] javydekoning commented on #38
@4c74356b41  we are working on that. Params is only to be used for Package params NOT chocolatey params. Refer to #52 for more details.

[2016-09-01 10:32] 4c74356b41 commented on #38
thanks, I got that already!

[2016-09-01 16:35] ferventcoder commented on #38
@4c74356b41 Apologies, it's the username. It's similar to what we've seen in the past as bots (seemingly random characters for user name).

[2016-09-01 16:52] 4c74356b41 commented on #38
hah, never thought about that ;) its okay ;) ya, this name is a bit random, but I love it ;)

[2016-09-01 19:38] ferventcoder commented on #45
For posterity sake, I added all of the different options you have when you run into this issue here: https://github.com/chocolatey/choco/issues/112#issue-58511395

The first option is consumer-based. Did you know you could pass the checksums yourself (once #52 is implemented of course)?

[2016-09-01 21:39] ferventcoder commented on #52
@javydekoning I like string.

[2016-09-01 21:40] ferventcoder commented on #52
Or both?

[2016-09-02 07:18] ferventcoder commented on #52
At least string.

[2016-09-02 07:19] 4c74356b41 commented on #45
yeah, I figured that out, but atm cchoco doesn't support that.
seems that the only option now is to use script extension along with cchoco to install such packages.

[2016-09-04 11:27] javydekoning commented on #52
Implemented as string. See PR #53

Example:
https://github.com/javydekoning/cChoco/blob/dfbae887be1e5fd14e0306ee920ee3207b8f4e74/ExampleConfig.ps1#L20-L27

[2016-09-06 13:33] kcighon opened #54 "Cannot find path 'C:\ProgramData\chocolatey\config' because it does not exist."
Setting source with "cChocoSource" immediately after "cChocoInstaller" fails with
"Cannot find path 'C:\ProgramData\chocolatey\config' because it does not exist."

Confirmed Config folder does not exist until choco.exe is run for the first time.

Output from Start-DSCconfiguration:

VERBOSE: [SERVER1]: LCM:  [ Start  Resource ]  [[cChocoSource]setMYChocoSource]
VERBOSE: [SERVER1]: LCM:  [ Start  T

[2016-09-06 13:41] ferventcoder commented on #54
For context - this is a known thing.

For the Puppet provider, we run a small command to ensure that everything is set up:
https://github.com/puppetlabs/puppetlabs-chocolatey/blob/d03ba8d883e7564df7da0890f5df3e460de3ce66/lib/puppet_x/chocolatey/chocolatey_common.rb#L67

[2016-09-06 15:35] javydekoning commented on #54
Regarding #54, I think it be better to run 'choco' once after the chocoinstaller 'set' function instead of running it in every  cChocoSource Test

[2016-09-06 15:36] ferventcoder commented on #54
I agree with @javydekoning

[2016-09-07 15:03] lawrencegripper commented on #54
Agree, PR looks good. I'll give it a spin tonight and merge it in - all being well.

Thanks for the contribution @kcighon!

[2016-09-07 15:03] #52 closed, assigned to nobody

[2016-09-07 15:07] lawrencegripper commented on #38
Closing this one off now as think we're sorted with the PR from @javydekoning

[2016-09-07 15:07] #38 closed, assigned to nobody

[2016-09-07 15:08] lawrencegripper commented on #31
Massive thanks to @ebekker  and @javydekoning for the help - loads of progress over the last few months which is great to see! Closing this issue off for now.

[2016-09-07 15:08] #31 closed, assigned to nobody

[2016-10-06 19:56] ferventcoder opened #57 "Powershell DSC - using cChocoInstaller installChoco shows Non Compliant after first run"
http://stackoverflow.com/q/39891048/18475

[2016-10-06 23:45] DamianBis commented on #57
Possibly due to old version of dsc resource

https://github.com/PowerShellOrg/cChoco/pull/33 fixed this issue for others.

[2016-10-09 18:51] javydekoning commented on #57
Cannot replicate:
![Imgur](http://i.imgur.com/jcZEO0g.png)
![Imgur](http://i.imgur.com/G588DzU.png)

Works fine for me on latest version.

[2016-10-10 20:01] javydekoning commented on #57
@ferventcoder do you have any additional information? Otherwise I'm closing this issue.

[2016-10-10 20:07] javydekoning commented on #25
Can someone provide an example package that requires reboots, if so I'll work on fixing this.

[2016-10-10 20:09] #23 closed, assigned to nobody

[2016-10-10 20:13] javydekoning commented on #12
This has been fixed in #53

[code]

[2016-10-10 20:13] #12 closed, assigned to nobody

[2016-10-10 21:21] ferventcoder commented on #57
Wasn't my issue, I just linked the stack overflow question so it could be answered or a fix here if necessary

[2016-10-10 21:25] ferventcoder commented on #25
One of the .NET 4.x packages, likely 4.5.2 or 4.6 require reboots.

[2016-10-11 10:08] javydekoning commented on #57
@ferventcoder understood, then I'm now closing this issue as I'm unable to replicate on the latest build.

[2016-10-11 10:08] #57 closed, assigned to nobody

[2016-10-17 21:18] javydekoning commented on #54
Latest master branch includes a fix. Thanks!

[2016-10-17 21:18] #54 closed, assigned to nobody

[2016-10-17 21:19] #29 closed, assigned to nobody

[2016-10-17 21:22] javydekoning commented on #21
#22 was merged some time ago. Thus it seems that this issue has been resolved. Closing.

[2016-10-17 21:22] #21 closed, assigned to nobody

[2016-12-02 20:12] javydekoning commented on #39
The resource now has a autoupgrade boolean available for use, hence we are now closing this issue.

[2016-12-02 20:12] #39 closed, assigned to nobody

[2016-12-12 21:56] travis-sobeck commented on #44
Is there a timeline for getting this resolved, its still broken?
Thanks

[2017-01-20 11:33] Richiban opened #61 "cChocoPackageInstall doesn't check that the package was actually installed"
I've noticed a problem with cChocoPackageInstall -- if the package failed to install (due to the source being misconfigured or the version or package name simply not existing) it's not an error. The failure is logged in the verbose output but the DSC configuration silently continues.

This is a pretty nasty surprise; it appears that the DSC you ran completed successfully but in fact some packages

[2017-01-20 11:52] javydekoning commented on #61
Can you provide a scenario to replicate?

[2017-01-20 13:04] Richiban commented on #61
Sure! This is all it takes:

[code]

I'm running this with `Start-DscConfiguration -wait FailingDsc`, which exits without errors. Running with `-verbose` yields the following log entry:

[code]

[2017-01-20 13:23] javydekoning commented on #61
Thanks, once I have some extra time I'll implement something to validate the installer exitcodes and write pester tests :).

[2017-01-20 13:58] Richiban commented on #61
Cool, thanks. I was thinking that there's already a function defined "IsPackageInstalled" that I can call at the end of the package installation process, which appears to work.

Does this sound like a good idea? If so, I can submit a PR.

[2017-01-20 14:13] javydekoning commented on #61
I think it would be better to throw an error if the package install fails. The IsPackageInstalled is intended to get and test the DSC config.

[2017-01-20 14:30] Richiban commented on #61
Okay sure. I've created a PR https://github.com/Richiban/cChoco/pull/1 -- I'm not asking you to actually merge it in but just to demonstrate what I meant.

Thanks

[2017-01-31 13:45] javydekoning opened #62 "Choco Installer is ignoring system-wide proxy setting"
We have to change the Get-FileDownload function and accept proxy variables. Example:

[code]

[2017-02-07 14:47] bgelens opened #63 "cChocoSource doesn't update priority"
If a source is already registered, the priority won't be adjusted when changed in the configuration.

Repo:
[code]
Then try to adjust (won't happen):
[code]

[2017-02-22 15:20] dragon788 opened #65 "cChoco doesn't support Chocolatey's -m (multiple versions) parameter"
I need to install a few versions (previous and current) of a couple packages on a server and currently since it is the same package name and name is the primary key being used this fails when DSC goes to compile. It seems like maybe it should be possible to specify a list of versions in the Version: key and if a list or more than 1 element is detected then automatically pass the `-m` to chocolatey

[2017-02-22 15:48] dragon788 commented on #25
@javydekoning Have you had a chance to take a look at this? I'm using Azure Automation DSC so I've got the global "Reboot if necessary" set, but it would be handy to properly trigger that from cChoco as well.

[2017-02-22 23:03] dragon788 commented on #65
Example packages that would require this option:
cinst microsoft-build-tools -m # This is actually v14 aka VS 2015 installer
cinst microsoft-build-tools -m -version 12.0.21005.20140416 # This is the v12 aka VS 2013 installer

[2017-02-25 21:21] javydekoning commented on #25
@dragon788 not really, sorry. It seems hard to get contributors for this resource, and I'm lacking the spare time to drive this project alone.

[2017-02-25 22:37] gmatusko commented on #61
Any updates on this, it would be handy for the DSC resource to kick back an error if the package actually failed to install.  Right now any depending resources on the package installing successfully will subsequently fail which is fine but would be good to know the root cause of the failure was the install of the package.

[2017-02-28 12:37] bozho opened #66 "cChocoInstaller fails if TLS 1.0 or SSLv3 are disabled"
Windows servers may have TLS 1.0 and SSLv3 protocols disabled for security reasons. This results in cChocoInstaller failing to download Chocolatey's install.ps1 script.

[2017-04-17 01:42] ferventcoder opened #69 "Migrate to Chocolatey GitHub namespace?"
### Discussion
Almost all config mgmt integration tools have a company or folks from that company that continue development on the Chocolatey integration. DSC is a bit different. It does not have that with things like cChoco.

After seeing a few folks work on this and then not be able to continue development, I'm wondering if it is best if this should be moved up under Chocolatey management? I tal

[2017-04-17 02:03] lawrencegripper commented on #69
I think this would be an excellent idea.

I'd like to say a massive thank you to @javydekoning and @ebekker for their contributions and keeping the module up-to-date after I stepped back.

What are the next steps?
- Add @ferventcoder to contributors on github
- Add powershell gallery permissions for @ferventcoder too

[2017-04-17 12:39] ebekker commented on #69
I agree this is a great idea.  I'm only sorry I wasn't able to contribute more.

[2017-04-17 18:19] javydekoning commented on #69
@ferventcoder @smurawski, that might be a lot better. Unfortunately, priorities have shifted. I'm no longer actively using Chocolatey or DSC. Hopefully this change can bring the DSC resource back on track.

[2017-04-17 21:48] usepowershell commented on #69
@ferventcoder @lawrencegripper I've sent Rob a link to join this repo as an admin, which should give him the ability to transfer it to the chocolatey org.

[2017-04-17 21:49] usepowershell commented on #69
@ferventcoder what's your user id for powershell gallery?

[2017-04-17 22:38] ferventcoder commented on #69
@smurawski ferventcoder (just registered)

[2017-04-17 22:46] ferventcoder commented on #69
This has been migrated over to chocolatey/cChoco.

[2017-04-17 22:47] ferventcoder commented on #69
I've added some folks to @chocolatey/powershelldsc - if I missed anyone let me know please. It was basically everyone that commented here I knew had commit rights.

[2017-04-17 22:51] usepowershell commented on #69
@ferventcoder I've added you on powershellgallery as well.

[2017-04-18 07:35] lawrencegripper commented on #69
Great, looks good.

I setup an AppVeyor CI pipeline for the repo a while back which build the module and publishes to the powershell gallery when changes are made on master. It will also run against PR's (I think) and I believe @javydekoning  improved it and added some pester tests too.

Would be good to give you permissions for it too @ferventcoder, do you have an account with appveyor I can add?

[2017-04-18 07:39] javydekoning commented on #69
Yes, it will run against PR's. Obviously it will not publish to PS Gallery on PR's. Only on successful changes to Master it will publish.

I indeed started building Pester tests, but only for the components I've changed.

[2017-04-18 15:19] ferventcoder commented on #69
Would love to chat with someone to understand/document more on how this gets released.

[2017-04-18 15:22] ferventcoder commented on #69
@lawrencegripper I do have an account with AppVeyor. It's my ferventcoder github account

[2017-04-18 15:25] ferventcoder commented on #69
I have some very dumb questions regarding publish module - I want to see projectUrl to point back to here, and I want to add release notes. How does one add those things?

[2017-04-18 17:54] ferventcoder commented on #63
This is now fixed with your test?

[2017-04-18 17:55] ferventcoder commented on #65
Does this not work when you pass `chocoParams`?

[2017-04-18 18:19] bgelens commented on #63
yes, fixed with pr #64
Test-TargetResource wasn't evaluating the priority. Now when actual is different from desired, Set is called and choco is smart enough to overwrite / update

[2017-04-18 22:17] #63 closed, assigned to ferventcoder

[2017-04-18 22:19] ferventcoder commented on #66
This has been merged

[2017-04-18 22:19] #66 closed, assigned to ferventcoder

[2017-04-18 22:22] ferventcoder commented on #69
@lawrencegripper @javydekoning going to attempt pushing an updated version. I don't have access to appveyor so wish me luck.

[2017-04-18 22:35] ferventcoder opened #70 "Add an Apache v2 License to cChoco"
Howdy @chocolatey/powershelldsc  - What was the original intent for licensing here?

[2017-04-18 22:42] ferventcoder commented on #70
I'd love to set an Apache v2 License on this code, however to move from no license to a license requires a thumbs up from contributors.

For every person identified, you must create a comment on this issue so that the licensing can be added. The apache v2 license is super business friendly and can be found at https://www.apache.org/licenses/LICENSE-2.0.html (it's the same license that Chocolatey u

[2017-04-18 22:42] ferventcoder commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-04-18 22:56] ferventcoder commented on #69
I think this is ready to close.

[2017-04-18 22:56] #69 closed, assigned to ferventcoder

[2017-04-18 22:57] ferventcoder commented on #20
I think this would be best served by a cChocoConfig resource. I'm going to rename this to that

[2017-04-18 22:58] ferventcoder opened #71 "cChocoFeature Resource - Configure Chocolatey Features"
As a followup for #20, it would be great to configure features as well through the DSC resource.

[2017-04-18 22:59] ferventcoder commented on #44
This is still not yet resolved, however I'm going to set it up for being fixed in 2.4.0.

[2017-04-18 23:01] ferventcoder commented on #61
This is set to up for grabs for someone to take a look at.

[2017-04-18 23:03] ferventcoder commented on #25
Picking this up with @dragon788.

[2017-04-18 23:05] ferventcoder commented on #19
Didn't this get implemented?

[2017-04-18 23:08] ferventcoder opened #72 "Move all PowerShell scripts to UTF-8 BOM with Windows EOL"
This is required to move towards authenticode signing the files.

[2017-04-18 23:08] #72 closed, assigned to ferventcoder

[2017-04-19 00:00] ferventcoder opened #75 "AppVeyor did not push new version"

[2017-04-19 00:01] ferventcoder commented on #75
@lawrencegripper

To combat this I wanted to see what was going on and added the notifications for appveyor to chocolatey-build-status at googlegroups dot com

[2017-04-19 00:48] usepowershell commented on #70
I agree with the move to Apache v2 for licensing my contributions to this repository

[2017-04-19 05:15] javydekoning commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-04-19 05:28] ptoonen commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-04-19 05:37] javydekoning commented on #75
AppVeyor never started the deploy.ps1 script.

[2017-04-19 05:45] lawrencegripper commented on #19
No this is likely related to #61 as the exit code returned from install isn't checked at all currently.

[2017-04-19 05:59] lawrencegripper commented on #75
Looks like the repo moving location has left appveyor a bit confused. I don't have access to the github repo settings anymore so I can't check and update the webhook stuff, will take a look now at appveyor to see if there is anything I can update that side.

Attempted to add you to appveyor but need an email address, if you want to share one privately dm on twitter @lawrencegripper

[2017-04-19 06:11] lawrencegripper commented on #75
Sweet, looks like updating the appveyor build to point to the new repo location has done the trick. I've manually triggered a build for now, as it has missed the webhooks for the commits to master, and the build completed for v2.3.1.96. Output here: https://ci.appveyor.com/project/LawrenceGripper/cchoco/branch/master

Would be worth validating if the hook settings in github need updating too or if

[2017-04-19 06:18] lawrencegripper commented on #75
Looks like the repo move meant the appveyor didn't detect this as a build of master branch, thought it was from a fork. Created a PR to resolve this here: #76 Once the PR is merged we should see a deploy to powershell gallery.

On the plus side it let me test the webhooks and appear to be triggering correctly so was just the appveyor changes required.

[2017-04-19 06:24] lawrencegripper commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository

**History**

When I first wrote the resource it was submitted to the powershellorg as a PR to a repo which grouped together lots of community dsc resources and already had a license. @smurawski pulled out the code and committed it to a new repo to make it easier to manage for me and likely that's when we missed the

[2017-04-19 06:26] bgelens commented on #70
I agree with the move to Apache v2 for licensing my contributions to this repository

[2017-04-19 08:37] bozho commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-04-19 12:50] ferventcoder commented on #75
@lawrencegripper ferventcoder at gmail

[2017-04-19 12:56] ferventcoder commented on #75
@lawrencegripper you are now an admin on this repo.

[2017-04-19 13:52] lawrencegripper commented on #75
@ferventcoder now added to the appveyor with all the permissions, first time I've ever granted permissions through appveyor so apologies if I've got it wrong.

Also build pushed updated module :)

![image](https://cloud.githubusercontent.com/assets/1939288/25183563/d4dc61b6-250f-11e7-863b-dc151598132f.png)

[2017-04-19 15:07] ebekker commented on #75
It looks like the 4th component of the version is now set to '0' (started with the prior build), but previously it was the AV build number (I'm guessing?).  Was that change by design?

[2017-04-19 15:45] ferventcoder commented on #19
Let's keep this open for a bit then.

[2017-04-19 15:55] ferventcoder commented on #75
@ebekker no idea - just coming into this.

[2017-04-19 16:24] ferventcoder opened #77 "Push new versions on tags"
Instead of pushing new versions to PowerShell Gallery on merges to master, move to tags instead.

[2017-04-20 00:07] dragon788 commented on #65
I'll test this. I believe the issue I was having was that it keys off the "Name" aka package name as needing to be unique, so just supplying different parameters to each instance still rolled up to one overall package name that it didn't like.

[2017-04-20 03:39] dragon788 commented on #65
This is still an issue.

The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: A conflict was detected between resources '[cChocoPackageInstaller]installMSBuildTools2013 (::47::9::cChocoPackageInstaller)' and '[cChocoPackageInstaller]installMSBuildTools2015u3 (::55::9::cChocoPackageInstaller)' in node 'BuildAgent'. Resources have id

[2017-04-20 12:11] ferventcoder commented on #65
Thinking out loud - I wonder if the other config mgmt tools allow for this. My guess is they do not do so well in this department either.

[2017-04-20 15:06] ferventcoder commented on #70
Still waiting on a few more, especially @ebekker, @mrpullen, and @RobFaie

[2017-04-20 15:08] ferventcoder commented on #70
If we can't get all folks to sign off on this, we will need to rewrite the sections of code that were contributed so we can move forward with the licensing. I'm not keen on that, so hopefully folks are able to agree with the change.

[2017-04-21 01:04] ebekker commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-04-26 15:18] gmatusko commented on #44
Let us know when you have a fix for this, we're experiencing the same issue when trying to install packages from various sources, internal and external.  Working around it by adding the sources to the config using cChocoSource but would be nice if this worked as expected

[2017-04-26 15:40] travis-sobeck commented on #44
As an aside, I found that as long as my package was not named exactly the same as a public one, it works fine.

[2017-04-26 17:02] gmatusko opened #79 "cChocoSource does not update priority correctly for existing source"
To work aournd the -Source issue with cChocoPackageInstaller I'm trying to shuffle around the order of the sources in the configi file.  If a source is present and I simply want to change the priority the element is not updated properly.  To work around, I'm removing the source and andding it back in with a new priority.  No a huge deal but just wanted to point it out in case other run across this

[2017-04-26 17:28] ferventcoder commented on #79
Thanks for noting this.

[2017-04-26 19:43] gmatusko commented on #79
While looking at this is would be good to add a parameter to set disable source to true/false.

[2017-04-27 17:46] paulhey opened #80 "cChocoInstallerSet resource does not support AutoUpgrade switch"
Would it be possible to add the AutoUpgrade switch from the single package installer resource (cChocoInstaller) to the set installer resource (cChocoInstallerSet)?

[2017-04-27 22:48] #77 closed, assigned to ferventcoder

[2017-04-27 22:49] ferventcoder commented on #80
Yes it would. I marked this as up for grabs. 👍

[2017-04-27 22:49] #75 closed, assigned to ferventcoder

[2017-04-27 22:50] ferventcoder commented on #70
Ping @mrpullen @RobFaie @kcighon @dlwyatt @sebastus @absolutejam

[2017-04-28 12:55] dlwyatt commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-05-11 15:12] elovelan commented on #61
I'm looking to pick this up. Does anyone know why [it's using `Invoke-Expression` for all of the `choco` calls](/chocolatey/cChoco/blob/9754a15374428b87724281710358ec2b2cdbb688/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L224)? Error handling is a bit more challenging when using that.

[code]

vs

[code]

On second thought, this is probably for the best, I've run into a few Chocola

[2017-05-11 20:42] sebastus commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-05-16 13:48] nkv16786 opened #82 "Using cchoco in dsc pull"
Getting the following error for the pull client:

[[cChocoPackageInstaller]atom] Package output Chocolatey v0.10.5 Installing the following packages: atom By installing yo
u accept licenses for the packages. [NuGet] An error occurred while loading packages from 'https://chocolatey.org/api/v2/': Unable to connect to the remote server atom no
t installed. The package was not found with the source(s)

[2017-05-16 20:34] ferventcoder commented on #82
@nkv16786 this could be a lot of things. Please provide the complete output of what was run, starting with the `====` line to the next `===` in the log file. Make sure you scrub it for any sensitive data prior to posting it. Thanks.

[2017-05-16 20:36] ferventcoder commented on #70
And then there were four @mrpullen @RobFaie @kcighon @absolutejam. If anyone knows these folks, can you help me reach out to them?

[2017-05-16 20:45] ferventcoder commented on #70
I sent an email to @absolutejam as that was listed in James' GitHub profile.

[2017-05-16 20:47] mrpullen commented on #70
Mrpullen here.

I agree with a move to Apache v2 Licensing.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Rob Reynolds<mailto:notifications@github.com>
Sent: Tuesday, May 16, 2017 4:36 PM
To: chocolatey/cChoco<mailto:cChoco@noreply.github.com>
Cc: Michael Rees Pullen<mailto:___>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [chocolatey/cChoco] Add

[2017-05-16 20:52] ferventcoder commented on #70
Ones we would not necessarily need to rewrite to change the licensing:

* https://github.com/chocolatey/cChoco/commits?author=kcighon (smaller, maint type commits)
* https://github.com/chocolatey/cChoco/commits?author=absolutejam (changing to single quotes, so also mostly maint)
* https://github.com/chocolatey/cChoco/commits?author=ITGuyOU (added version to example, so documentation type of commit

[2017-05-16 20:52] ferventcoder commented on #70
@ITGuyOU your commit came after, but would you mind also responding here?

[2017-05-16 20:59] ferventcoder commented on #70
@mrpullen Thank you!

[2017-05-16 21:05] ferventcoder commented on #70
I may have found @RobFaie through [LinkedIn](https://www.linkedin.com/in/robert-w-mcleod/) and have reached out.

[2017-05-16 21:15] absolutejam commented on #70
Sorry for the inconvenience, I saw this issue had  some activity but I didn't realising you were waiting for me! I think it's a great idea to move to the Apache 2 license.

'I agree with a move to Apache v2 licensing for my contributions to this repository.'

[2017-05-16 21:16] ferventcoder commented on #70
@absolutejam thanks!

[2017-05-17 01:11] RobFaie commented on #70
All good with me.

[2017-05-17 06:44] nkv16786 commented on #82
2017-05-16 20:50:41,140 [INFO ] - Chocolatey v0.10.5
2017-05-16 20:50:41,145 [DEBUG] - Chocolatey is running on Windows v 6.2.9200.0
2017-05-16 20:50:41,146 [DEBUG] - Attempting to delete file "C:/ProgramData/chocolatey/choco.exe.old".
2017-05-16 20:50:41,147 [DEBUG] - Attempting to delete file "C:\ProgramData\chocolatey\choco.exe.old".
2017-05-16 20:50:41,153 [DEBUG] - Command line: "C:\ProgramDa

[2017-05-17 19:01] ferventcoder commented on #70
@RobFaie thanks for that. Is there a chance you could provide the official wording requested?

[2017-05-17 21:50] variableresistor commented on #70
I agree with the move to Apache v2 for licensing my contributions to this repository

[2017-05-17 21:54] ferventcoder commented on #70
Thanks @ITGuyOU !

[2017-05-17 21:56] variableresistor commented on #70
Sorry for the delay, @ferventcoder . I've been hunting for a new employer, which has kept me tied up.

[2017-05-17 21:58] ferventcoder commented on #70
No worries sir, I did not include your name on this until recently.

[2017-05-18 08:45] nkv16786 commented on #82
PLese respond.

Thanks :)

[2017-05-20 12:51] ferventcoder commented on #82
` [NuGet] An error occurred while loading packages from 'https://chocolatey.org/api/v2/': Unable to connect to the remote server`

[2017-05-20 12:52] ferventcoder commented on #82
There is also `--trace`, but you may find starting Fiddler and running that to see any possible issues friendlier.

[2017-05-22 01:19] RobFaie commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-05-22 18:11] elovelan commented on #61
I'll open a PR and ask there

[2017-05-22 18:28] ferventcoder commented on #61
@elovelan if you have specific packages you can point to that have issues, that would be most helpful.

[2017-05-24 13:17] elovelan commented on #61
@ferventcoder, is your question about packages that will not install under the **System** account or about packages that fail?

In terms of failure, this is really more about general error handling than just packages that fail to install.

The .NET framework and visual studio isolated shells are examples of packages that will not install under the **System** account. I can't remember the exact rea

[2017-05-24 14:08] ferventcoder commented on #61
@elovelan does cChoco not support the Credential option? I was under the impression that DSC supported Credentials across the board?

[2017-05-24 14:12] ferventcoder commented on #61
@elovelan I was specifically speaking of installers that had issues under the system account (not necessarily packages)

[2017-05-24 14:26] elovelan commented on #65
This is clearly the wrong place for this discussion, but I'm not sure where it belongs, Google groups?

I think it may be wise to discourage use of the `AllowMultipleVersions` parameter for packages that are specifically able to be installed SxS. Many packages that can be installed SxS are already using different packages for each version (Visual Studio & [vcredist](https://chocolatey.org/packages

[2017-05-24 16:25] ferventcoder commented on #65
This is a big reason here.

This sounds like a possible bug? I mean they know (or at least have the info).

Yes and yes.

[2017-05-25 19:18] elovelan commented on #61
This is supported as of PS 5.0, unfortunately not everyone is able to move to it in a timely fashion :smile:

[2017-06-02 19:51] ferventcoder opened #83 "Turn off download progress"
In 0.10.4, Chocolatey started to show [download progress for packages as well](https://github.com/chocolatey/choco/issues/1134) as any downloaded resources. When something else is using Chocolatey and capturing output for logging purposes, it can overwhelm the log.

This is the case in PowerShell DSC. You receive a cryptic error similar to `The WS-Management service cannot process the request. The

[2017-06-04 03:36] kewalaka commented on #61
Double quotes like that won't work because $? will be evaluated to whatever the variable contains, sticking with Invoke-Expression, you'd need something like this:

[code]

Note the single quotes in line 3 above.
If you change 'choco list' to 'choco lust' to simulate an error, you get:

[code]

[2017-06-21 20:45] Jark commented on #70
I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-06-21 20:52] kcighon commented on #70
Apologies for delayed response - I agree with a move to Apache v2 licensing for my contributions to this repository.

[2017-06-21 21:01] ferventcoder commented on #44
This looks to be fixed with #84.

[2017-06-22 12:05] ferventcoder commented on #44
This is now fixed and will go into the next release of cChoco

[2017-06-22 12:05] #44 closed, assigned to ferventcoder

[2017-06-22 21:05] Jark opened #85 "The source is only be specified once in cChocoPackageInstallerSet"
The `cChocoPackageInstallerSet` resource only provides the Source parameter to the first package being installed, I believe this is because in the past it would add the Source as a new Chocolatey Source.

I plan on adding a pull request shortly to fix this issue.

[2017-06-22 21:37] ferventcoder commented on #85
This is fixed for the next release as well.

[2017-06-24 12:31] #85 closed, assigned to nobody

[2017-06-28 21:45] variableresistor commented on #70
I agree with a move to Apache v2 licensing for my contributions to this
repository.

On Wed, Jun 21, 2017, 13:52 J. <notifications@github.com> wrote:

[2017-07-10 17:13] lukegriffith opened #87 "Implementation of Get-ChocoInstalledPackage fails when using Chocolatey as a package"
The current used implementation considers the choco version banner to be a package, and returns with a version "vX.X.X", if chocolatey is installed via the choco package the list has duplicates, and the presence of the string v causes the where clause, converting the string to a version to fail.

Moving to using the -r argument, and converting from a CSV will resolve these problems, only considera

[2017-07-10 17:20] ferventcoder commented on #87
`-r` or limit output has been available since 0.9.9 (almost 2.5 years now), so there shouldn't be a concern for compat. It should be using `-r`. Most things for cChoco are going to come up to be more like what you see in the Puppet provider.

[2017-07-10 17:21] ferventcoder commented on #87
Is this a gating issue for you currently?

[2017-07-10 17:42] lukegriffith commented on #87
Not currently, we've forked the hell out of this resource I won't lie. I've fixed our implementation just being a good citizen.

[2017-07-10 17:50] ferventcoder commented on #87
@lukemgriffith 👍

If it's allowed, we'd love to get some of those fixes into here...

[2017-07-10 21:10] lukegriffith commented on #87
submitted PR for this. https://github.com/chocolatey/cChoco/pull/88

[2017-07-14 01:16] ferventcoder commented on #70
Apache v2 licensing has been applied. Thanks all!!

[2017-07-14 01:16] #70 closed, assigned to ferventcoder

[2017-07-14 01:27] #87 closed, assigned to ferventcoder

[2017-07-15 14:26] lukegriffith commented on #71
I have a forked version of this, I'll look to get a pull request together.

[2017-07-15 20:11] lukegriffith commented on #71
Implemented in pull request https://github.com/chocolatey/cChoco/pull/89

[2017-07-18 19:22] jrdnr opened #90 "Get-ChocoInstalledPackage is very slow, causing long Test, Set, and Upgrade times for multiple packages"
Because cChocoPackageInstallerSet, just provides a foreach overlay for cChocoPackageInstaller it is very slow 1-2 seconds per package due to the time it takes to run `choco list -lo`

Is there a fundamental reason that cChocoPackageInstaller could not be refactored to allow an array of package names, and then change cChocoPackageInstallerSet to simply be an alias?

This would also address issue #8

[2017-07-18 21:38] ferventcoder commented on #90
No reason - was just discussing this with a colleague recently.

[2017-07-18 21:40] ferventcoder commented on #90
I think refactoring would be a great idea

[2017-07-18 21:40] ferventcoder commented on #90
As long as it is done in a compatible way that is.

[2017-07-18 22:22] jrdnr commented on #90
Is this something you want to add as a 2.x milestone possibly replacing #80, or is this just a nice idea?

If no one else is going to be working on it, I'd be glad to try to take a first whack, I've never contributed to a project or worked with AppVeyor before so I'll have a little bit of a learning curve to get over to get used to the tools before I can make any real contribution on the project i

[2017-07-18 22:28] ferventcoder commented on #90
2.x is current, 3.x is next major.

[2017-07-18 23:00] ferventcoder commented on #90
@jrdnr For contributions, I'd suggest reading Chocolatey's CONTRIBUTING at https://github.com/chocolatey/choco/blob/master/CONTRIBUTING.md#contributing-1. It's very comprehensive and helpful for first time folks to regular contributors alike.

[2017-07-18 23:02] ferventcoder commented on #90
A couple of things to keep in mind:

* CLA signature does not apply to cChoco.
* Setting up your environment is different as well

[2017-07-19 00:59] jrdnr commented on #90
Ok I'll review the contribution articles

[2017-07-25 03:41] flcdrg opened #91 "Forcing new version with cChocoPackageInstaller with meta-package doesn't uninstall cleanly"
Given a machine that had successfully ran:

      cChocoPackageInstaller node {
        Name = "nodejs"
        Version = "8.1.0"
        DependsOn = @("[cChocoInstaller]Chocolatey")
      }

Then if that is updated to

      cChocoPackageInstaller node {
        Name = "nodejs"
        Version = "8.2.1"
        DependsOn = @("[cChocoInstaller]Chocolatey")
      }

Then the old version is uninstal

[2017-07-25 20:00] ferventcoder commented on #91
This looks more like it is a choco issue than it is a cChoco issue. Perhaps file a request over there. No response should not be an error

[2017-07-25 20:01] ferventcoder commented on #91
@flcdrg would you mind filing an issue over there and linking back to this issue? Thanks!

[2017-08-24 18:34] jrdnr commented on #90
I finally got a chance to sit down and finish getting my head around how everything ties together, and see that a few of my original assumptions were a little off base.

It looks like there are probably a few good reasons (ie exposing a limited set of parameters to cChocoPackageInstallerSet for 1) that there should be both cChocoPackageInstaller vs ..InstallerSet.  Also due to the way DSC processe

[2017-08-24 20:27] ferventcoder commented on #90
Update the title.

[2017-08-25 11:34] jrdnr commented on #90
Is this an issue we can address in the DSC resource by caching to disk or something along those lines, or should the fix for this really be made in the core of `choco list` itself?

[2017-08-27 16:34] ferventcoder commented on #90
@jrdnr `choco list -lo` is subsecond return for me (150+ packages). But sometimes there are factors on systems that cause it to take up to 2 seconds or more (and not really explainable reasons).

[2017-08-27 16:34] ferventcoder commented on #90
I think we should work on making it better here.

[2017-08-27 16:35] ferventcoder commented on #90
More explanation - Puppet and Chef run this query one time before all packages during a run and cache the results for all. I'm actually surprised (well not really) that Microsoft decided to ignore this pattern.

[2017-08-28 12:31] jrdnr commented on #90
Doing some testing the simplest work around I've found is to add an `Export-Clixml` to the `Get-ChocoInstalledPackage` function, then when setting `$installedPackages` I just check if the cache file exists, and if its less then a minute old I import from the file instead of running the full `Get-ChocoInstalledPackage` again.  On my system this takes 30 reps of setting the `$installedPackages` vari

[2017-08-28 22:13] ferventcoder commented on #90
Storing to a file could have security implications, would you be able to hold a lock on the file or store it somewhere secure during the run?

[2017-08-29 05:34] jrdnr commented on #90
Unfortunately coming back around to the initial problem with DSC being stateless, I don't think file locking is an option.

However because DSC runs as System we can easily write to a secure location.  My current version tests for and if needed creates a cChoco directory in `$env:ProgramData` and then exports the `choco list -lo` object as Clixml.

In the current implementation I'm using last writ

[2017-08-29 16:23] ferventcoder commented on #71
Thanks for your contribution!

[2017-08-29 16:23] #71 closed, assigned to ferventcoder

[2017-09-01 01:31] jrdnr commented on #90
@ferventcoder, sorry I'm new to the open source collaboration (and I know you have a life and a day job). I'm just not sure about next steps.

Should I go ahead and submit a pull request now, or do we continue discussing the proposed solution until any potential issues have been addressed and then I submit the PR?

[2017-09-01 02:01] ferventcoder commented on #90
Go for the PR, we have the basics down and are agreeing on them. Specifics are easily changed.

[2017-09-14 14:21] mloskot commented on #25
This one requires reboot, I think https://chocolatey.org/packages/kb2919355

[2017-09-25 02:10] johnm-woollies opened #93 "cChocoSource"
it appears this code was a copy and paste of the cChocoInstallPackage resource.

When attempting to add a source it tries to locate a nuget xml file which obviously it won't find as adding a source does not require this.

[2017-10-02 12:21] fleed opened #94 "Error during installation of Sql Server"
While trying to install SqlServer through DSC/cChoco, I'm getting the following error:

[code]

This is the configuration:

[code]

[2017-10-02 15:58] ferventcoder commented on #94
Since DSC can't be modified to run under a different user than LocalSystem, you have two options:

1. Use the credentials meta parameter to run the install under a different administrative user.
1. Follow the instructions in the error message: `This security permission can be modified using the Component Services administrative tool.`

[2017-10-02 15:59] ferventcoder commented on #94
Hope this helps, there isn't much (maybe not anything) we can with cChoco DSC provider to alleviate this issue.

[2017-10-02 15:59] #94 closed, assigned to nobody

[2017-10-02 17:52] fleed commented on #94
hi @ferventcoder
Thank you for the explanation and the possible solutions. I'll find out which one is more appropriate for my specific context.

[2017-10-03 09:01] lukegriffith opened #95 "cChoco uninstalls, then reinstall if package is out of date."
https://github.com/chocolatey/cChoco/blob/6b8f5a5b56709c58c4b40b0290ff6e75e9c02898/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L99

Resource, when provided with a version number and an out of date package will uninstall the current version and reinstall the newer - leading to unwanted behavior with some

[2017-10-04 13:55] fleed commented on #94
@ferventcoder can you provide an example of passing the PSCredential object as meta parameter?

[2017-10-06 03:31] ferventcoder commented on #95
This may cause some weirdness when you use cChoco to keep Chocolatey itself updated.

[2017-11-08 07:31] sergey-s-betke commented on #71
Please, release new version with cChocoFeature to repository!

[2017-11-11 11:24] lukegriffith commented on #95
Have a hot fixed branch of this, but without a complete refactor the patch adds another call to choco list what's isn't very optimised.

[2017-11-13 18:37] ferventcoder commented on #95
@lukemgriffith we can get started on looking at the PR and move from there to make it more optimized.

[2017-11-13 19:49] lukegriffith commented on #95
https://github.com/chocolatey/cChoco/pull/92 might help make my fix be more optimized.

[2017-11-14 14:33] jrdnr commented on #83
@ferventcoder Should this be Up for grabs or are you working on it? I have working code to patch this that I'm using internally, but its a little fragile because I just pasted the same check into the install/uninstall/ and update functions.  The right way to fix this might be to refactor the install/uninstall/update functions to have more consistent code and naming across them, and actually break

[2017-11-14 15:02] ferventcoder commented on #83
@jrdnr up for grabs.

[2017-11-14 15:02] ferventcoder commented on #83
Go for the simple changes first and we can look for the more invasive changes later.

[2017-11-14 16:20] jrdnr opened #96 "cChocoPackageInstall 'Source' cannot be null or empty"
I was trying to implement a fix for #80, and ran into errors on Test-TargetResource,
`PowerShell DSC resource cChocoPackageInstall  failed to execute Test-TargetResource functionality with error message: Cannot validate argument on parameter 'Source'. The argument is null or empty. Provide an argument that is not null or empty, and then try the command again.`

It appears to be a bug in #86, Where

[2017-11-14 16:36] jrdnr commented on #80
Looks like it should be a pretty easy fix, however #96 is a blocking Bug. We will need to restore the functionality of the cChocoPackageInstallerSet.schema.psm1 before we can add new functionality

[2017-11-14 16:40] ferventcoder commented on #96
Source needs to allow for an empty value, so the validation should be removed.

[2017-11-14 16:40] ferventcoder commented on #96
The validation should be removed.

[2017-11-14 18:03] jrdnr commented on #96
If I understand the way this works, the schema.psm1 works, I believe this is what actually builds the MOF, right?  So we can allow for `Source` to have an empty value in either the schema.psm1, OR w/in the cChocoPackageInstall.psm1 file we can go through and clean up everywhere that it expects a value to be specified.

I would lean toward adding the code back into the cChocoPackageInstallerSet.sch

[2017-11-14 19:31] ferventcoder commented on #96
Chocolatey handles the checks. Source does not need to be passed to it, so there should not be any validation that forces it.

[2017-11-14 19:54] jrdnr commented on #96
Its not actually validation, the errors are generated because the current GA code as is available in the powershell gallery etc. has error handling built into schema.psm1 to remove 'Source' from the property list if its null.  With update #86 this was removed causing null properties to be written into the MOF.  The new null values in the MOF are now breaking functions in the cChocoPackageInstall.p

[2017-11-15 15:45] ferventcoder commented on #96
I don't want messy, I want the source passed unless it is empty. I guess I misunderstood what you were saying here. #86 was incorrect in that it should have determined whether source should be passed and then pass it every time, not what it is doing where it is unconditionally passing source, even when empty. Does that make sense?

[2017-11-15 17:40] jrdnr commented on #96
Yes, I believe I understand what you want.
To close this bug
[ValidateNotNullOrEmpty] flags for the Source param should be removed from functions in cChocoPackageInstall.psm1 as it could cause errors to be thrown even when there is already error handling in place elseware, and cChocoPackageInstallSet.schema.ps1 should be updated to only write defined parameters into the MOF file.

[2017-11-22 10:00] nkv16786 opened #97 "multiple packages deployment"
1).Is there a way to deploy multiple packages with a specific version of each package?

2). How to know what versions are available for a particular package

[2017-11-26 16:49] ferventcoder commented on #97
1). You create a package resource for each. You also get to define version I believe.

2). You get to decide what versions you create. If you are using this for organizational use, please reconsider about using the community repository as we want your experience to be 100% reliable. Please read https://chocolatey.org/docs/community-packages-disclaimer

[2017-11-26 16:49] #97 closed, assigned to nobody

[2017-11-29 15:39] ferventcoder opened #98 "cChocoSource should support disabling sources"
You can remove and add, but you can't disable. It would be handy to allow for this state as well. I am curious if we can simply add "Disable" to the Ensure in the MOF and then add the additional functionality for that state.

[2017-11-29 15:49] ferventcoder opened #99 "cChocoSource, cChocoFeature and others"
These would need to run `choco -v` one time to ensure that a config file exists. Otherwise when they hit a line like

https://github.com/chocolatey/cChoco/blob/6b8f5a5b56709c58c4b40b0290ff6e75e9c02898/DSCResources/cChocoSource/cChocoSource.psm1#L152

And it doesn't return any files, so when they call the next line
https://github.com/chocolatey/cChoco/blob/6b8f5a5b56709c58c4b40b0290ff6e75e9c02898/D

[2017-12-02 15:39] ferventcoder commented on #97
If you do find you are being blocked/soft banned by Cloudflare, reach out through those instructions so we can help.

[2017-12-02 15:39] ferventcoder commented on #97
Wrong comment on wrong issue, ignore.

[2017-12-03 19:46] jrdnr commented on #90
@ferventcoder This issue can be closed now correct?

[2017-12-03 21:18] jrdnr commented on #80
I've submitted a PR for #96 once that is accepted I can start working on this one

[2017-12-08 16:30] jessejacob commented on #83
Just wanted to say thanks y'all for implementing this. HUGE reduction in Packer log sizes where I was using lots of choco operations!

[2017-12-12 15:35] #90 closed, assigned to nobody

[2017-12-20 09:39] #19 closed, assigned to nobody

[2017-12-21 08:37] esiebes commented on #61
There is now a pull request for this issue. #103

[2018-03-06 20:40] Gerthum opened #104 "cChocoSource Authentication"
Hi Guys

Is it possible to give me a quick example of who to pass credentials to a repository in cChocoSource? I can't seem to figure it out.

By the way cChoco is a brilliant addition to DSC.

[2018-03-07 17:42] ferventcoder commented on #104
@Gerthum I'm honestly not entirely sure, but it is a MSFT Credential object, so maybe these will help?

* https://docs.microsoft.com/en-us/powershell/dsc/runasuser
* https://docs.microsoft.com/en-us/powershell/dsc/configdatacredentials

[2018-04-06 10:03] bozho opened #105 "Chocolatey params not used on upgrade"
`Set-TargetResource` is not passing `$chocoParams` to `Upgrade-Package` function.

Our use case is a problematic SQL Server Management Studio package, which lists a KB dependency, which makes choco install fail on Win10/Win2016. Therefore, we use `--ignore-dependencies` Chocolatey parameter. The parameter is ignored on upgrade, which makes upgrading SSMS tedious :-)

I will be submitting a pull re

[2018-04-09 20:45] Gerthum commented on #104
Hi ferventcoder thank you for the info.

Just an update here I got it to work with the following line in DSC. This is just for Azure DSC have not tried normal DSC as we don't use it.

1. Create a credential in Azure inside your AutomationAccount
2. Add this line to your DSC config: $Creds = Get-AutomationPSCredential "CreatedCredential"
2. Use the above variable in your cchocoSource parameters:

c

[2018-04-09 20:45] #104 closed, assigned to nobody

[2018-04-09 20:50] Gerthum opened #107 "Add Secure parameters to cChocoPackageInstaller"
It would be great if we could add the Secure Parameters to the cChocoPackageInstaller

[2018-04-23 16:24] githubboffeli commented on #61
Any updates on this?

[2018-05-03 09:58] Gerthum commented on #61
+ 1 This is quite an important fix for us.

[2018-05-16 14:46] theonlydude1 opened #109 "cChocofeature module is missing in PowershellGallery hosted version"
Hello,
The module cChocoFeature is missing on the version hosted in the PowershellGallery:
![image](https://user-images.githubusercontent.com/18315609/40124229-66468314-5928-11e8-8603-ecaef6d4cfcb.png)
https://www.powershellgallery.com/packages/cChoco/2.3.1.0
Is it possible to add the missing folder and files in the published package ?
Thanks !

[2018-06-05 17:04] alphakilo45 commented on #61
+1 - Could really use this fixed as well - if there anything in particular it's waiting on?  Or just the next release?

[2018-07-05 06:39] subash544772 opened #110 "Download artifacts from private proget using credentails"
Configuration BuildServerDSC
{
    Import-DscResource -ModuleName 'PSDesiredStateConfiguration'
    Import-DscResource -ModuleName cChoco
    $Cred = Get-AutomationPSCredential -Name "nugetcred"

    Node localhost
    {
       cChocoInstaller installChoco
      {
        InstallDir = "C:\Program Files (x86)\choco"
      }
cChocoPackageInstaller installaddproducttochangecontrol
      {
         En

[2018-07-27 06:58] Outek commented on #20
Any news on this?
Is it possible to configure the cacheLocation?

[2018-08-16 21:47] waagbo commented on #80
Whats the progress on this one? Like @jrdnr says it should be pretty easy to implement due to the fact that the cChocoPackageInstallerSet is based directly on the cChocoPackageInstaller.

@jrdnr are you looking in to this or should I give it a go?

[2018-08-17 00:52] jrdnr commented on #83
@ferventcoder Any chance of getting this PR merged?

[2018-08-17 01:04] jrdnr commented on #80
@vidarw I think I had started working on it but didn't want to try to fix this w/o #96 being resolved, and that PR is still open, so I have not touched this in months.  Feel free to take this one.

[2018-08-20 14:48] mdonoughe opened #111 "Params values underescaped"
I tried to use:

    cChocoPackageInstaller Vs2017 {
        Name = 'visualstudio2017enterprise'
        Params = "--installPath `"E:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise`""
    }

This fails because the install command comes out as:

    choco install visualstudio2017enterprise -y --params="--locale en-US --installPath "E:\Program Files (x86)\Microsoft Visual Studio\2017\En

[2018-09-07 15:25] Sebbl22 commented on #109
I can confirm, that the cChocoFeature Resource is missing in the PSGallery version

[2018-09-13 04:22] Outek opened #112 "Rename cChoco In Line With PowerShell Team Guidelines"
Hi

I would like to rename the resource and revise it according to the quidelines from the PowerShell Team.
https://blogs.msdn.microsoft.com/powershell/2017/12/08/dsc-resource-naming-and-support-guidelines/

Would you accept such a PR?

[2018-09-26 18:18] ferventcoder commented on #112
Currently - possibly. We would need to evaluate how that would affect current users of the module.

[2018-09-27 18:39] pauby commented on #112
I believe producing a final version of cChoco and making the newly named module a `RequiredModule` in the cChoco manifest would work for most situations?

Thoughts?

[2018-09-28 10:01] andyfisher100 commented on #25
Any further update on this? I'm currently developing a package that has "vcredist140" as a prereq. On the Choco test environment, this also installs some windows updates that require a reboot. after vcredist140 is installed i cant progress the install of my package as a reboot is pending.

[2018-09-30 19:58] pauby commented on #111
What happens if you use:

[code]

You did mention you used single quotes instead of double quotes but didn't give the command so not sure exactly what you did.

[2018-09-30 20:00] pauby commented on #109
cChocoFeature was added _after_ the last release was made. We're going to make another release shortly that will fix this.

[2018-09-30 20:05] pauby commented on #107
Can you be specific about what you are looking for? Use case?

[2018-09-30 22:28] mdonoughe commented on #111
That's probably equivalent to what I did. Changing the quotes on the outside of the string shouldn't make any difference if it's not causing parse errors while building the configuration. I don't have a system to confirm the behavior right now.

[2018-10-09 18:54] #96 closed, assigned to nobody

[2018-10-09 20:50] Outek commented on #112
I'm working my way though the resources, i hope i can present you a first view in a few days.

[2018-10-10 04:07] pauby commented on #105
Merged #106

[2018-10-10 04:07] #105 closed, assigned to nobody

[2018-10-10 04:20] pauby commented on #110
@subash544772 That would be better of asked in the [cChoco Gitter channel](https://gitter.im/chocolatey/cchoco)

[2018-10-10 04:21] #110 closed, assigned to nobody

[2018-10-16 19:14] russellaa opened #113 "cChocoSource API Key"
I just started working with DSC and I have been working with Chocolatey for awhile. I have a private Nexus repository set up. It requires and API key to authenticate. I take it there is no way to pass an API Key when using cChocoSource?

[2018-11-08 17:00] pauby opened #114 "Pester requires publisher check to be skipped in build script"
Inside `\AppVeyor\AppVeyorInstall.ps1` Pester won't install if the publisher check is not skipped.

[2018-11-08 18:59] #114 closed, assigned to nobody

[2018-12-07 20:30] TTimo commented on #83
I would like to see this addressed as well.

[2018-12-07 20:55] jrdnr commented on #83
@TTimo The PR to fix was submitted almost a year ago, but I haven't been able to get a response from the maintainers.

[2018-12-10 00:45] FinickyCode commented on #83
A possible workaround while waiting for this PR to be merged is to disable progress globally.
[code]

[2018-12-18 16:38] smcolligan opened #116 "cChocoInstaller fails with request aborted - connection was closed unexpectedly"
We are using the `cChocoInstaller` resource to install chocolatey so that we can use chocolatey to install the Puppet Agent package.

When we provision a full environment (~18 nodes) we regularly get errors such as this on *some* of the nodes:

[code]

In this example, 11 nodes failed with this message, and 7 succeeded.  All are using the same Windows Server 2016 image in Azure.

I assumed this co

[2018-12-18 16:56] pauby commented on #116
@smcolligan See https://chocolatey.org/docs/community-packages-disclaimer#rate-limiting - this is not a cChoco issue.

[2018-12-18 17:01] smcolligan commented on #116
Thanks @pauby , but shouldn't I be seeing messages like the link you provided shows?  Shouldn't I be seeing a `429` or `too many connections` response if I'm being rate-limited?

[2018-12-18 17:06] pauby commented on #116
Once you have been rate limited you'll be blocked for an hour. When last did you see the error message? If it was within the last hour can you visit https://chocolatey.org (assuming you are coming from the same IP) and see what the message is?

[2018-12-18 17:20] smcolligan commented on #116
The message is coming from VMs provisioned in Azure.  I RDP'd to one of the VMs that failed to install to browse the chocolatey site, but I don't see any rate-limiting messages.

I agree that this is likely a rate-limit issue, I just wanted to confirm since the error messages didn't indicate that.  I wanted to make sure this wasn't some other case.

Also, given this is on Azure from a shared publi

[2018-12-18 17:26] pauby commented on #116
I would suggest that is what is happening. If you use https://chocolatey.org/contact we can look at it there - make sure you provide your IP.

[2018-12-18 17:26] #116 closed, assigned to nobody

[2019-02-06 13:29] passbt commented on #61
I'm affected by this as well. I have an internal 7zip package that I tried to install.  Since I'm new to DSC I wanted to see what would happen if intentionally typed the package named 7zip incorrectly. The Start-DscConfiguration completed without error. However, Test-DscConfiguration returns [cChocoPackageInstaller]Install7zip is not in the desired state. Additionally, I have an error in the choco

[2019-02-13 21:42] mrhockeymonkey opened #117 "Add Required/Minimum/Maximum for Version"
At work I currently use a forked version of this DSCResource that we have added to, One of these additions is to add some options for the case of a more recent version of a package being installed. In this instance we sometimes want to accept this higher version as okay. Much like the way Import-Module has parameters -Version, -RequiredVersion, -MinimumVersion and -MaximumVersion to give the user

[2019-02-14 09:44] pauby commented on #117
I this would be a useful enhancement. For those using it in anger it would be great to hear from them.

[2019-02-15 18:03] smcolligan opened #118 "cChocoPackageInstaller Source Parameter Isn't Working"
Hello,

I've been trying to use the `Source` parameter on the `cChocoPackageInstaller` resource to point to our internal repository.  However, the resource still pulls from the public repository.

[code]

I've been checking the choco logs on the machine in question, and can find no reference to my source.  But, I do see it reaching out to sourceforge to download the package.

Any ideas?

Thanks,

[2019-02-21 19:17] jberezanski commented on #65
One package which would benefit from this is `dotnetcore-sdk`. The way Microsoft implemented the SDK is that each three-part SDK version gets installed side by side with all other versions, e.g.:
![image](https://user-images.githubusercontent.com/1577094/53195195-7401d100-3615-11e9-97ff-a65fc234b608.png)
[code]
It would be cumbersome to define a new package id for each A.B.C version of the SDK.

[2019-03-01 15:46] MubSalim opened #119 "cChocoPackageInstaller not finding package in local source"
Hi,

I've been playing around with cChoco and was attempting to install SQL 2016. I have set up a chocolatey repo on a remote server and I'm able to set it as a source using the cChocoSource resource. I can then see it when I do a "Choco sources" and I can even install SQL using the sql2016 package I created if I run “choco install sql2016”

The issue is if I try an install of the same package usi

[2019-03-01 15:50] pauby commented on #119
Does the account DSC is running under have access to that share?

[2019-03-01 16:04] MubSalim commented on #119
The account does have admin access. This is a two server dev environment so everything is pretty open.

[2019-03-01 17:26] pauby commented on #118
What does `choco source list` on the computer return?

[2019-03-06 15:29] psiservices-jmascoe commented on #61
Ran into this issue yesterday. Any update?

[2019-03-06 16:10] pauby commented on #61
This is waiting on PR changes - https://github.com/chocolatey/cChoco/pull/103

[2019-03-06 16:22] pauby commented on #26
I can't see the issue here - [cChocoInstaller](https://github.com/chocolatey/cChoco/blob/development/DSCResources/cChocoInstaller/cChocoInstaller.psm1#L96) and [cChocoPackageInstall](https://github.com/chocolatey/cChoco/blob/development/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L182).

I appreciate this is an old issue. Just trying to clear it up.

[2019-03-06 18:13] pauby commented on #82
Closing this issue as no updates for some time. If the issue still persists feel free to re-open the issue.

[2019-03-06 18:13] #82 closed, assigned to nobody

[2019-03-06 18:28] pauby commented on #93
I know this is an old one - can't see anything in the code for this. Can you confirm this is still an issue and provide the relevant logs?

[2019-03-06 18:34] pauby commented on #20
@outek Inside cChoco, not yet. This issue is up for grabs. In the meantime see the [link posted above](https://github.com/chocolatey/choco/wiki/How-To-Change-Cache).

[2019-03-06 18:36] pauby commented on #80
Note that #96 is closed.

[2019-03-06 18:46] pauby commented on #109
New version was released in November 2018.

[2019-03-06 18:46] #109 closed, assigned to nobody

[2019-03-06 18:48] pauby commented on #112
@Outek it's been a while but where did you get to with this?

[2019-03-06 18:50] pauby commented on #107
No update on this for some time. Closing the issue but feel free to come back and reopen if this is still an issue for you.

[2019-03-06 18:57] #107 closed, assigned to nobody

[2019-03-06 20:57] pauby commented on #113
There is nothing in the code that supports this just now. I've opened this up for the community.

[2019-03-06 21:00] pauby commented on #79
@gmatusko See #98

[2019-03-06 21:18] pauby commented on #95
@lukemgriffith #92 has been merged.

[2019-03-06 21:38] pauby commented on #83
The PR is working it's way through. We have been very slow to pick this up. Changes have been requested and would hope to get this ready for the next release.

[2019-03-06 22:47] pauby commented on #119
@MubSalim The error you are getting is one from choco itself so I don't think this is a cChoco issue. Can you reach out to the Gitter channels for choco (https://gitter.im/chocolatey/choco)? Let us know how you get on and we can come back to this issue.

[2019-03-06 22:53] pauby commented on #118
I'd also be interested in the logs and verbose output from running this.

[2019-03-06 23:02] smcolligan commented on #118
Hi @pauby - Unfortunately, I had to move on from this.  I needed to get this working and couldn't make it work using the `Source` attribute.  So I refactored my code to use Script resources instead:

[code]
Given that, I'm unfortunately not in a position to reproduce this at the moment.

[2019-03-07 16:28] pauby commented on #119
]Gitter conversation](https://gitter.im/chocolatey/choco?at=5c8100a4f895944c08559fc4) for this resolved the issue which turned out to be permissions on the share. DSC, by default, runs under the SYSTEM account on the local computer. This had no permissions to the share.

The fix in this case was to use the `PsDscRunAsCredential` which is documented at [Microsoft Docs](https://docs.microsoft.com/en

[2019-03-07 16:28] #119 closed, assigned to nobody

[2019-03-26 07:13] Outek commented on #112
Hi

Sorry for this, but i close this issue/request. There is so much to do, maybe it would be better to write it completely new.

[2019-03-26 08:57] pauby commented on #112
@Outek I think this is still a valid request so will re-open.

[2019-03-29 21:17] ferventcoder opened #120 "cChoco 2.4.0 includes .git folders on PowerShell Gallery"
https://www.powershellgallery.com/packages/cChoco/2.4.0.0 if you look at FileList you will see it includes the .git folders.

Not sure how this one was released, but typically you create a tag and AppVeyor should release it.

[2019-03-29 21:18] ferventcoder opened #121 "Create tags without the "v" prepending them"
Just an FYI, this is likely why there wasn't an automatic push if there was an issue found.

[2019-04-01 10:34] pauby commented on #111
Not much more we can do with this just now. However we can always re-open it later.

[2019-04-01 10:34] #111 closed, assigned to nobody

[2019-04-01 12:00] pauby commented on #118
I tried this:

[code]

And it worked as it should. `dummy-pkg` obviously doesn't exist in the Chocolatey Community Repository so could only be picked up locally.

I also tried:

[code]

I don't have Winrar internalised so it can only come from the community repository but as this explicitly states the source it should fail, which it does.

I can't see the issue here and as there are no logs from t

[2019-04-01 12:00] #118 closed, assigned to nobody

[2019-04-01 12:09] pauby opened #122 "Clean up build and move to Chocolatey AppVeyor"
Cleanup the build scripts (see #120 and #121) and move the build to the Chocolatey AppVeyor account.

[2019-04-01 14:54] pauby opened #123 "Investigate impact of 'useEnhancedExitCodes' in Chocolatey 0.10.12"
Chocolatey 0.10.13 introduces `choco list` exit code 2 if no results are returned if the feature `useEnhancedExitCodes` is enabled (which it is by default).

See https://github.com/chocolatey/choco/issues/1758 and https://github.com/chocolatey/choco/issues/1784

[2019-04-01 14:59] pauby commented on #123
See this [comment](https://github.com/chocolatey/choco/issues/1758#issuecomment-478614209) - if the issue is reversed and a new release is made quickly this might not be anything to worry immediately but may still have to take account of people who have the feature turned on.

[2019-04-01 15:51] ferventcoder commented on #123
@pauby you can also call specifically for not using them as part of your call. It would be ignored in older versions of choco if the option is not available.

[2019-04-26 23:56] coltaye commented on #34
Run

[2019-06-10 14:11] mrhockeymonkey opened #124 "Speed boost for cChocoFeature by reading Chocolatey.config XML"
Internally we have moved away from cChocoFeature and instead use a custom resource. Our custom resource reads from Chocolatey.config xml to determine if any given feature is enabled rather than running ```powershell choco feature```

This gives us a pretty reasonable boost in speed for the routine consistency checks. Would you consider us merging our changes upstream to this repo? I can appreciate

[2019-06-10 14:17] mrhockeymonkey commented on #124
Worth noting also we only use this method for Test-TargetResource, Never for Set-TargetResource.

[2019-06-17 08:33] pauby commented on #124
@mrhockeymonkey Thanks for raising this issue.

I'd prefer to stay away from reading Chocolatey config files directly for the reason you mentioned. Having said that Puppet has `chocolateyfeature` and other configuration managers similar 'resources' so it makes sense to follow what they are doing. What they _are_ doing I need to look into (but if anybody knows feel free to update here).

[2019-06-17 08:50] pauby opened #125 "Add Resource to manage Chocolatey config"
THere is cChocoFeature but not cChocoConfig to manage config of Chocolatey directly. For completeness a new resource should be added.

[2019-06-17 08:59] pauby opened #126 "Document WinRM issues / fixes"
There are some known issues around WinRM that we should add to the docs.

[2019-06-18 09:52] mrhockeymonkey commented on #124
Yep seems fair. Well I'll stick with what I have so far at my own peril. If you do find out and/or want to include this as a separate resource or perhaps a switch to control this behavior then I'm happy to make a PR. If not I'm happy for this to be closed as answered.

[2019-06-24 08:27] #126 closed, assigned to pauby

[2019-06-24 09:03] pauby opened #128 "WinRM envelope size error for large packages"
When large packages are being downloaded WinRM can report there is an issue with envelope size.

![image](https://user-images.githubusercontent.com/12760779/60005808-2353c080-9667-11e9-8ed5-854c84e18a01.png)

The [issue has been documented](https://github.com/chocolatey/cChoco#ws-management---exceeds-the-maximum-envelope-size-allowed) but needs investigation if we can resolve / work around it with

[2019-07-11 09:21] mrhockeymonkey commented on #124
I seem to have accidentally closed this...

I had a look at puppet's 'chocolateyfeature' that you mentioned. It looks to me like it does interact with the config file directly rather than through the CLI. See [here](https://github.com/puppetlabs/puppetlabs-chocolatey/blob/624ef14ed4bc6d6863e925c1e49488dfc9af2c19/lib/puppet/provider/chocolateyfeature/windows.rb#L41) which points to [here](https://g

[2019-07-28 14:35] #83 closed, assigned to nobody

[2019-07-28 14:43] pauby commented on #124
If it's being done that way on other config managers then I'd say it's fine to do it here also.

[2019-07-28 23:35] cribeiro84 opened #130 "$env:ChocolateyInstall is empty during package install"
There is an unexpected behaviour that's getting the $env:ChocolateyInstall as null value.

[2019-07-28 23:38] cribeiro84 commented on #130
PR raised: #129

[2019-07-29 07:06] pauby commented on #130
@cribeiro84 Is this an issue for Chocolatey that should be raised? I would have though $env:ChocolateyInstall not being populated is a bug?

Does it happen when you install Chocolatey outside of cChoco or only when cChoco installs Chocolatey?

[2019-07-29 12:41] cribeiro84 commented on #130
@pauby this issue happens during the Get-ChocoInstalledPackage call. When it tries to get the cache location, for some reaosn, the $env:ChocolateyInstall is null/empty but if I open a new PowerShell window and try to get the $env:ChocolateyInstall outside of the cChoco context, it works.

[2019-07-29 12:44] pauby commented on #130
@cribeiro84 Thanks for confirming that. I think we need to look at what is causing the issue (sounds like scope) rather than working around it.

Can you give me steps you go through so I can replicate it?

[2019-08-12 17:54] cribeiro84 commented on #130
I'm really sorry for the delay in replying back to you @pauby. What I did was just to install the cChoco module on my server and I ran the PowerShell as Administrator directly on the server. My DSC script I added the following block:

`foreach ($chocoPackage in $node.ChocoPackages)
{
        cChocoPackageInstaller $("ChocoPackage$chocoPackage")
        {
                Ensure = 'Present'

[2019-09-05 13:35] SylvainMartel opened #133 "Import-Clixml returning empty so no software found"
I cannot find out why, but the line
https://github.com/chocolatey/cChoco/blob/aed59762c625375eeaa57c9c3a3b99991af16986/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L442

return an empty value when run by the LCM agent.  So it always report that the software was not installed when it was.

 If I run the function `Get-ChocoInstalledPackage` manually in an admin shell, the import-clixm

[2019-09-05 13:49] kinwolfqc commented on #133
No matter, I misread the code, closing this.

[2019-09-06 14:47] SylvainMartel commented on #133
Closing this, the problem was a trailing space on the product name... It had no impact on the install, but it had when came the time to compare if it was installed.

[2019-09-06 14:47] #133 closed, assigned to nobody

[2019-10-04 10:23] pauby commented on #120
Related to #121

[2019-10-05 18:12] pauby commented on #122
@lawrencegripper Can you remove the build webhook from your AppVeyor account?

[2019-10-07 07:53] lawrencegripper commented on #122
Sure - I've deleted the appveyor build now

[2019-10-07 20:39] pauby commented on #122
Thanks @lawrencegripper

[2019-10-07 21:17] pauby commented on #122
Build added into Chocolatey AppVeyor and PR #409 ran against it.

[2019-10-07 21:17] #122 closed, assigned to pauby

[2019-11-20 18:32] alphakilo45 commented on #95
The uninstall / reinstall behavior is causing problems for my project as well.  @lukemgriffith Is there anything I can do to help with your hotfix?  Or is this issue truly up for grabs if I wanted to take a crack at it?

[2019-11-21 11:57] lukegriffith commented on #95
Been a long time since I've worked on this. I cant remember anything of my PR please go ahead :)

[2020-01-03 14:55] bozho opened #135 "[2.4.0.0] cChocoPackageInstaller: Test-TargetResource always `$false` with custom source"
There was a change in `Test-TargetResource` when passing a custom source to `Test-LatestVersionInstalled`

Previously, the code was:
[code]

Current code it (line `167` in `cChocoPackageInstall.psm1`):
[code]
which results in `choco` being executed as:
[code]

[2020-01-31 15:00] mh185277 opened #137 "cChocoInstaller changes $env:temp"
After install by
cChocoInstaller InstallChoco
{
    InstallDir = "$env:ALLUSERSPROFILE\Chocolatey"
}
The $env:temp is changed from
C:\Windows\TEMP to C:\Windows\system32\config\systemprofile\AppData\Local\Temp\

***The operating system the target node is running***
OsName : Microsoft Windows 10 Enterprise LTSC
OsOperatingSystemSKU : 125
OsArchitecture : 64-bit
WindowsVersion : 1809
WindowsBuildLab

[2020-02-02 22:44] ksaffarian opened #138 "Add --no-progress feature"
Hi
cChoco is probably is used heavily in CI/CD pipelines to bootstrap servers.
The default settings in Choco is to show alot of progress, like download percentage and more stuff, which is a bit annoying when you want to review deployment logs.
I suggest you add the option to PackageInstaller resource to turn on/off verbose and progress logging.
Thanks for the nice work.
Cheers

[2020-02-03 14:05] pauby commented on #138
This has already been completed and will be released in the next version.

Marking as a duplicate of #83

[2020-02-03 14:05] #138 closed, assigned to nobody

[2020-02-09 18:35] ethanbergstrom commented on #117
I would note that this functionality is possible using the PackageManagement DSC resources, which when combined with the [Chocolatier package manager](https://www.powershellgallery.com/packages/Chocolatier/), provides the same result as what you're describing.

[2020-02-26 20:37] #135 closed, assigned to nobody

[2020-03-04 13:57] mrhockeymonkey commented on #117
Good to know, I will have a play with Chocolatier when I can. I think its worth having this feature in the DSC resource too for completeness.

[2020-03-04 22:37] wizarden1 opened #139 "Install Chocolatey from an internal source"
Hello,

I rewrite two resources and want to share with everyone.
1. Choco install.
Old Version based on script and require web server for install that not very useful for corporate(mass) deployment. And process looks like this:
cChoco resource > download install.ps1 > download zip with choco > extract zip > run script which install choco
My rebuilt resource
cChoco resource > request last(specific)

[2020-03-04 22:43] wizarden1 opened #140 "Add ability to install multiple package versions"
I rewrite cChocoPackageInstall and now it can be used for install multiple version of app. It use '-m' switch for it
Pros:
- can install multiple version
- check all versions for complaint
- can uninstall unused and install required versions
Cons:
- Upgrade process doesn't work, only install/uninstall

If this interesting, i will put code here

[2020-03-05 02:23] pauby commented on #140
If the upgrade process does not work then that breaks functionality of the resource.

[2020-03-05 02:28] pauby commented on #139
Downloading the install.ps1 doesn't require a web server. a Nexus repository with a RAW repo can store, and allow downloads, of it. As all of those components would also be interalised you would have a fully internalised version of Chocolatey to work with.

It sounds like your solution is very environment specific.

[2020-03-05 05:59] wizarden1 commented on #139
Nope it's not environment specific, you can read code by yourself
[cChocoInstaller.zip](https://github.com/chocolatey/cChoco/files/4291191/cChocoInstaller.zip)

[2020-03-05 06:05] wizarden1 commented on #140
[cChocoPackageInstall.zip](https://github.com/chocolatey/cChoco/files/4291213/cChocoPackageInstall.zip)
No, I mean if you set multiple versions, module use functions UninstallPackage, InstallPackage and not Upgrade-Package

[2020-03-05 06:06] wizarden1 commented on #140
full module, ignore zip extension it's nuget package
[cchoco.2.4.1.nupkg.zip](https://github.com/chocolatey/cChoco/files/4291220/cchoco.2.4.1.nupkg.zip)
And 2.4.1 it's not based on you 2.4.1. When I write it, 2.4.1 hasn't been exist, it based on 2.4.0 from powershell gallery

[2020-03-05 20:06] wizarden1 commented on #139
If I need to install simultaneously a lot of servers in a moment after load ballancer, for example >10 at the same time. Source of install.ps1 as site chocolate doesn't useful because of connection limitation. I have more than 10 connection from one ip and got ip ban. For that reason I have to move to another web server install.ps1. And choco.zip also. So I rewrite choco installer, by remove insta

[2020-03-05 22:54] pauby commented on #139
I said previously that the install.ps1 doesn't require a web server. a Nexus repository with a RAW repo can store, and allow downloads, of it. As all of those components would also be internalised you would have a fully internalised version of Chocolatey to work with.

So there is a solution for what you're talking about.

[2020-03-05 22:56] pauby commented on #140
Submit a PR and I can look at the changes.

[2020-03-15 19:43] mkevenaar commented on #125
@pauby
possible duplicate of #20

[2020-04-22 09:55] trueqbit opened #144 "cChocoPackageInstaller should pass on Source parameter"
`choco install` features the alternative sources `windowsfeatures` and `webpi`.

`cChocoPackageInstaller { Ensure = 'Present'; Source = 'windowsfeatures' }` works perfectly but `cChocoPackageInstaller { Ensure = 'Absent'; Source = 'windowsfeatures' }` does not, because the UninstallPackage function doesn't pass on the source parameter.

[2020-04-23 11:00] trueqbit commented on #17
I know this is long closed, but how do I then determine chocolatey's default installdir from within a dsc config? I do want to keep the default.

[2020-04-23 12:25] pauby commented on #17
`$env:ChocolateyInstall` ?

[2020-04-23 22:48] trueqbit commented on #17
I presume `$env:ChocolateyInstall` doesn't exist *before* chocolatey is installed. I assume it should be `$env:ProgramData\chocolatey`?

[2020-04-25 12:31] pauby commented on #17
@trueqbit That's correct.

[2020-04-25 13:26] pauby commented on #125
Agreed @mkevenaar. Closing this as duplicate of #20

[2020-04-25 13:26] #125 closed, assigned to pauby

[2020-04-25 13:31] pauby commented on #140
PR #143 submitted.

[2020-05-10 17:03] pauby commented on #144
If you are using DSC you can use other resources to manage Windows Features. But I agree that we may want to start pushing that through.

[2020-05-21 17:03] pauby commented on #137
I'm not able to reproduce this in a Windows Server 2016 Vagrant environment using your code above.

[2020-05-21 17:28] pauby commented on #137
Just tried this on a Windows 10 Enterprise Build 18362 and I'm still not able to reproduce it.

[2020-05-21 17:36] pauby commented on #130
Using your code I cannot reproduce this error. I do get a different error but if use:

[code]

It works. The part added is the `DependsOn = '[cChocoInstaller]installChoco'` to each package declaration and the:

[code]

[2020-05-22 00:33] cribeiro84 commented on #130
Sorry for the delay. I was not able to reproduce the issue anymore, closing this issue.

[2020-05-22 00:33] #130 closed, assigned to pauby

[2020-06-05 12:57] JelleBroekhuijsen opened #146 "cChoco reports compliant state however package failed to install correctly"
**Describe the bug**
When deploying a failing self-created package from an internal source (package ends up in lib-bad folder) cChoco reports a compliant state rather than a failed state.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A failed installation should lead to an incompliant state warning/error.

**Software (please complete the following information):**

[2020-06-10 09:26] pauby commented on #140
@wizarden1 I was never keen on multiple installs (experience) but this comment in the [Choco repository](https://github.com/chocolatey/choco/issues/2046#issuecomment-629578136) has me thinking about this again. What I don't want to happen is for us to cause more issues than it solves.

Maybe a HUGE caveat around it? Thoughts?

[2020-06-10 18:49] JelleBroekhuijsen commented on #146
Additionally; packages with a dependsOn on the failed package will deploy while their predecessor is not in an compliant state yet. This can cause a chain effect of failed packages.

[2020-06-11 20:25] wizarden1 commented on #140
You are right, this function is two side sword. From one perspective it'll allow to install multiple version of software that support this function. From other side this function will do strange thing with software that not support multiple versions on one OS. And the main question is, how choco per se work with "-m" parameter. As I see this function give some pros and con.
Pros
- ability to insta

[2020-06-23 11:18] pauby commented on #146
When you install the package with Chocolatey does the package show as installed? Can you provide an example (I note it's an internal package but you may be able to share some code that I can test)?

[2020-06-23 11:34] #117 closed, assigned to nobody

[2020-06-23 12:53] pauby opened #147 "cChoco build consistently fails"
**Describe the bug**
The cChoco automated build consistently fails.

[2020-06-23 12:55] pauby opened #148 "Update to work with Pester 5+"
**Describe the solution you'd like**
After [this comment](https://github.com/chocolatey/cChoco/pull/145#discussion_r444163663) it was clear that cChoco needs to be updated to work with Pester v5+.

This could be related to #147

[2020-06-23 13:25] JelleBroekhuijsen commented on #146
When I check with choco list --local-only the failed package does not show in the list of installed local packages. When I run choco info <packagename> the command returns '0 packages found'. As far as I know this behavior is the same for any failing package. After download and attempted installation it is moved to /lib-bad and remains there.

[2020-06-23 13:41] pauby commented on #146
Can you provide an example (I note it's an internal package but you may be able to share some code that I can test)?

So if you install it with cChoco (whcih you say confirms it was installed) and then run the `choco list --local-only` does it show up in the list?

Can you also give me the exit code that Chocolatey exits with when you try to install the package from the command line (or preferably

[2020-06-23 13:55] JelleBroekhuijsen commented on #146
- We have resolved the issue with our package so the package which originally caused me to discover this issue is no longer causing this. However any package that fails seems to be causing this behavior so you could create any package where the chocolateyinstall.ps1 throws an error.

- No it does not.

- The exit code from the logging would be -1

[2020-06-23 14:16] JelleBroekhuijsen commented on #146
Replaying the situation on my local machine does not yield the expected result. I will try to find time soon to recreate the issue on a virtual machine with non-propitiatory packages so I can provide you with better information.

[2020-07-01 08:48] JelleBroekhuijsen commented on #146
I ran into the issue again, however this time because i tried to install a version that doesn't exist on the private repository. I captured the output of the Set- and Test-TargetResource for the cchocopackageinstall.psm1:

[code]

I have obfuscated any information that refers to the details of the package name and repository.

[2020-07-30 15:08] ptoonen commented on #146
I've just looked at the behavior of Chocolatey: if you perform a `choco list --local-only` whilst the installation is running (before failure), it will show the package as 'installed'. Is it possible the module will perform a check at that point and mark it as installed?

[2020-08-28 13:58] cdhunt commented on #116
I'm running into this setting up just 3 nodes in Azure. Two worked fine and one is getting a 429 error. No issues if I manually download `install.ps` and `7za.exe` from that system.

[code]

[2020-08-29 00:28] pauby commented on #116
@cdhunt The 429 error you're getting is [Rate Limiting](https://github.com/chocolatey/choco/wiki/CommunityPackagesDisclaimer#excessive-use) on Chocolatey.org. The solution to that is listed on that page.

[2020-10-20 08:22] #20 closed, assigned to nobody

[2020-10-20 08:28] pauby commented on #140
PR #143 was closed due to being stale.

[2020-10-20 08:28] #140 closed, assigned to nobody

[2020-10-20 08:28] pauby commented on #139
PR #142 was closed as stale.

[2020-10-20 08:28] #139 closed, assigned to nobody

[2020-11-03 08:51] ralish opened #149 "cChocoPackageInstall: Get-TargetResource fails due to non-null Source parameter validation"
**Describe the bug**
The `Get-TargetResource` function for the `cChocoPackageInstall` resource enforces a non-null/empty `Source` parameter, but the `cChocoPackageInstallerSet` composite resource unconditionally sets the `Source` parameter. If the `Source` parameter isn't provided in configurations which use this composite resource, calls to `Get-DscConfiguration` after applying it will fail as th

[2020-12-10 22:38] djwork commented on #146
I have also hit this issue and it is very serious for my company as we need to sequence installation of packages for a successful server build.

@pauby This issue is marked as still waiting on customer. Below I have provided an example of the community package corretto11jdk, in the ChocoParams I have set the install path to a drive (X:) that doesn't exist on my test server. This caused the install

[2021-01-21 17:26] kevinpohlmeier commented on #25
As a workaround, you can use the PendingReboot resource from ComputerManagementDsc to look at the registry and reboot if there is one pending.

[2021-01-22 10:50] pauby commented on #25
The purpose of this resource is not to reboot the computer itself. I just wanted to clear that up. If the computer installs a package that requires a reboot then Chocolatey will flag that with an exit code. It would then be down to the code to take that and do with it as needed and what @kevinpohlmeier has suggested  seems to fit that bill.

[Boxstarter](https://boxstarter.org) ([GitHub repo](http

[2021-01-22 10:52] pauby commented on #25
As there hasn't been any real update to this in some time, the requirement is now implemented in Chocolatey and the comments above, my intention would be to close this. I will leave it open for a little while for any further comments, though.

[2021-02-05 17:46] artisticcheese opened #151 "cChocoInstaller fails to install Chocolatey, chocolatey folder already exists"
**Describe the bug**
Right now cChocoinstaller will download installation package and will execute it ignoring warnings from installation package and still adding environment variables etc to system
[code]
Actual code for chocolatey install (below) will consider presence of folder where chocolatey is installed and presense any file there (which is where DSC downloads file) an indication that choco

[2021-02-05 19:01] mattmcspirit commented on #151
I'm seeing the same behavior - cleaning things up, like the c:\choco directory, PATH variables, registry etc and just running the install from PowerShell directly on the same machine (without using DSC) seems to work fine.

[code]

All was working fine yesterday.

[2021-02-05 19:06] ferventcoder commented on #151
Note we pushed a security fix to install.ps1 plus quite a bit of cleanup. We've checked quite a bit with it, but it's hard to catch every area of things that could occur.

Here's where the problem lies:

VERBOSE: [dominos-web]:                            [[cChocoInstaller]Install] Env:ChocolateyInstall has C:\Choco
VERBOSE: [dominos-web]:                            [[cChocoInstaller]Install] Downl

[2021-02-05 19:09] ferventcoder commented on #151
To insulate yourself from changes that we are making in terms of the community and the packages repository (as we will be making quite a few over the next few months), it would be best to provide a script to point to a chocolatey nupkg in your internal infrastructure.

This is also going to be your best workaround while this gets fixed in cChoco.

[2021-02-05 19:09] artisticcheese commented on #151
I think issue on both sides
1. Chocolatey install script shall not consider non-empty folder as valid choco installation
2. DSC resource shall not proceed with setting environment variables unless installation succeeded while ignoring Warning being thrown in process

[2021-02-05 19:20] ferventcoder commented on #151
The problem lies in that someone could pre-create the folder and drop a hijacking dll in here. Then when Chocolatey installs and puts folders on the SYSTEM path, those hijacking DLLs are still there. Even though it installs and asserts admin privileges to the default location (not to `C:\Choco` - you are left to handle those when you customize the path), it takes everything existing along for the

[2021-02-05 19:24] artisticcheese commented on #151
DSC resource has property ChocoInstallScriptURL, it would be good then to option to provide option to set in stone which version of install script resource will use so integration would not break when new versions are released (like what you can do with docker tags)

[2021-02-05 20:06] steviecoaster commented on #151
I think this is where the bug hits: https://github.com/chocolatey/cChoco/blob/feffeedcde2d93bcb570cb43ff483856c095ee88/DSCResources/cChocoInstaller/cChocoInstaller.psm1#L193

[2021-02-05 23:00] mmeade-netapp opened #152 "cChocoInstaller fails to install Chocolatey, chocolatey folder already exists"
**Describe the bug**
We have been using cChoco for about a year with good results.  This afternoon PDT, reports of failed deployments began which were caused by a failure to install chocolatey  by using the resource below:

        cChocoInstaller ChocoInstall
        {
            InstallDir = 'C:\ProgramData\chocolatey'
        }

The configuration, if ran with the verbose switch, detects that c

[2021-02-05 23:22] mmeade-netapp commented on #152
Downloaded install.ps1 script has a function called Test-ChocolateyInstalled which returns true if chocolatey is installed or the chocolatey install folder exists and is not empty.  It returns true and the installer exists.  The default chocolatey folder isn’t empty because the downloaded script is placed here.

[2021-02-06 07:04] gep13 commented on #152
This is a duplicate of this issue: https://github.com/chocolatey/cChoco/issues/151

I am going to close this one in favour of that one.

[2021-02-06 15:21] ferventcoder commented on #152
I like this title better and it more succinctly describes the problem. However the conversation has already started with the other issue and a better explanation of the security reasons why this was changed. There is also a workaround posted over there.

[2021-02-06 15:21] #152 closed, assigned to nobody

[2021-02-07 18:42] artisticcheese commented on #151
In the interim you can use following to make cChoco resource work. It's official install.ps1 file which does not consider Choco folder with single file as a valid chocolatey installation

[code]

[2021-02-08 13:14] aultt commented on #151
Why not create a branch to do this in instead of making the change in Master.  Then pushing a new release once its done so that we dont break working pipelines?

[2021-02-08 13:55] Artalus commented on #151
As @steviecoaster pointed, the problem is simply that cChoco downloads the `install.ps1` into the very folder where chodolatey will reside. Can the folder simply be changed to `%TMP%`? Or perhaps, even provide an option as to where to download the script to?

[2021-02-09 14:34] #151 closed, assigned to nobody

[2021-03-16 02:19] ubidev opened #154 "Unable to use cChoco"
**Describe the bug**
Once installed I get errors on Import-Module and no cChoco DSC Resources are installed

**To Reproduce**
Steps to reproduce the behavior:
1. Install-Module cChoco -Scope CurrentUser
2. Files are installed in $env:USERPROFILE\WindowsPowerShell\Modules\cChoco\2.5.0\
3. Get-DSCResource returns all resources EXCEPT the cChoco ones
4. Import-Module cChoco returns error: Import-Modu

[2021-03-16 02:40] ubidev commented on #154
I have identified the suspect: The Sonatype nuget proxy I use as a PSProvider instead of the default. Unregistering it then registering the default PSProvider fixed the issue.

I will investigate and report back to share my findings so it can help anyone else using this otherwise fine repo proxy :)

[2021-03-16 02:40] #154 closed, assigned to nobody

[2021-03-16 14:25] ubidev commented on #154
I was able to completely fix the issue by upgrading my sonatype nexus installation to the latest one.
Have a great, whatever you're doing right now ;-)

[2021-03-19 15:49] edcarino2 opened #155 "WARNING: An existing Chocolatey installation was detected. Installation will not continue."
I had installed Chocolatey and already executed choco to install multiple software. However, after a month, choco is not working anymore. When I type “choco”, it’s returning error “Failed to run. No application is associated with the specified file.”

I’ve deleted Chocolatey installer manually so I could install this software again. I’ve deleted c:\ProgramData\Chocolatey directory and Chocolatey f

[2021-03-30 12:30] JelleBroekhuijsen commented on #146
@pauby I also do not know why this is 'Waiting on user'. If there's any additional information I can provide you please let me know!

[2021-05-04 11:15] bozho opened #156 "Allow cChocoSource to update an existing Source"
**Is your feature request related to a problem? Please describe.**
`cChocoSource` does not update source URL on an existing source.

**Describe the solution you'd like**
`cChocoSource` to update source URL if a source with the specified `Name` already exists.

**Describe alternatives you've considered**
Manually deleting Chocolatey source on managed servers when URL changes.

**Additional context*

[2021-05-13 05:03] isgxr-a commented on #61
Any updates on this? This does create some nasty surprises on failing installs

[2021-06-02 17:25] warsus opened #158 "Allow null Value for cChocoPackageInstaller Params Argument"
I have a package where i may or may not need to add parameters depending on the desired configuration more or less dynamically.
Now if i don't need any parameter (it might be $null or an empty string) i have to omit the `Params` parameter completely, since its not allowed to be null or empty.
So a possible solution would be this (maybe there's something better that i'm missing).

[code]

I would l

[2021-06-02 17:44] pauby commented on #158
Using null or empty parameters isn't really a PowerShell way of doing things. My suggestion would be to check the value of the parameter and then using the `cChocoPackageInstaller` block with the correct parameters depending on the situation.

[2021-06-02 19:31] warsus commented on #158
I don't agree with the sentiment about null and empty parameters and i think the resulting duplication of code is unnecessary, but i think i can deal with it. Thanks for the feedback!

`Write-Host $null` ;-)

[2021-06-02 19:31] #158 closed, assigned to nobody

[2021-07-13 13:02] pauby commented on #156
Appreciate it's been some time since you submitted this but that is not the correct Chocolatey behaviour. Without additional information we can't look into this. Can you go back and complete the bug issue template?

[2021-07-15 18:45] pauby commented on #155
There was an [update to the Chocolatey install script](https://github.com/chocolatey/home/issues/3). It's also not clear if this is related to the cChoco module.

[2021-07-15 18:45] #155 closed, assigned to nobody

[2021-07-16 08:45] pauby commented on #146
I think I've found the issue here. Working on a PR and it should be in the next release.

[2021-07-16 10:28] pauby commented on #137
I'm going to go ahead and close this now. We can always reopen it later if we get more information that allows us to reproduce.

[2021-07-16 10:28] #137 closed, assigned to pauby

[2021-07-16 10:38] pauby commented on #93
Going to go ahead and close this now. We can always reopen it later when we have more information.

[2021-07-16 10:38] #93 closed, assigned to nobody

[2021-07-16 10:52] pauby commented on #65
I'm unsure of how to proceed with this one as I can't see how it can be done in DSC when the `Name` properties are the same.

We dont encourage the use of SxS installs either so I'm inclined to close this with Won't Fix. However, I'll leave it open for a while yet to gather feedback (and I do appreciate this is a very old issue).

[2021-07-16 10:54] pauby commented on #62
The Chocolatey Installer was recently updated so I'm going to go ahead and close this one. If we need to open it up again we can do that.

[2021-07-16 10:54] #62 closed, assigned to nobody

[2021-07-19 20:40] ryanrichter94 opened #159 "cChocoSource - PSCredential for Set-TargetResource passed to MOF as Plain Test"
Currently when setting up an authenticated source using cChocoSource. The PSCredential that gets passed using the Set-TargetResource function is written to the MOF file in plain text.

Is their a way to obfuscate the source username and password within the MOF file instead of it getting written plain text?

Looking at Microsoft documentation for DSC it looks like you can secure the MOF file with a

[2021-07-22 19:49] jberezanski commented on #65
The `cChocoPackageInstaller` resource schema defines `Name` (i.e. package id) as the only key property, so that resource cannot support side-by-side versions.

However, a second resource could have this schema:
[code]
in other words, use the tuple (id, version) as the DSC resource key (composite). The version specification would be mandatory (due to being part of the resource key) and the resource

[2021-07-22 19:57] jberezanski commented on #65
Personally, however, I no longer have a practical need to perform sxs installations, because last year I redesigned the .NET SDK packages family I mentioned in my earlier post and, at present, each .NET SDK "feature band" (the "smallest unit" devs need to install side by side with others) has its own package id.

And that is, I believe, the proper way to fix this issue - work with package maintain

[2021-07-23 11:10] pauby commented on #65
Completely agree with this statement. SxS installations can be problematic, is only used by a handful of orgs (based on nothing more than comments I see in Chocolatey and here) and is difficult to troubleshoot. If we provide the functionality here, then we would have to support that.

[2021-07-24 07:55] jberezanski commented on #65
However, having written the above, I thought about it some more and came up with a legitimate SxS scenario. This involves a certain kind of software, which usually updates in-place (newer versions overwrite the existing installation), but can also have multiple versions installed side-by-side if the user desires so.

The example would again be the .NET Runtime, where by default newer major.minor.p

[2021-08-02 13:21] DevonBritton opened #160 "DSC Compliance Failed: Cannot find path C:\\choco\\cache\\ChocoInstalled.xml\ because it does not exist."
Hi there.

Recently the DSC process which had been running smoothly began failing due to the below error:

[code]
I have seen that the "chocoinstalled.xml" file is being created in the correct location, but then deleted before the DSC process is completed causing it to fail. I've also noticed that the step that's failing is taking longer than the previous steps to run and I'm not sure if that migh

[2021-08-03 19:23] #149 closed, assigned to nobody

[2021-08-25 09:47] Hans-v-M commented on #160
I am seeying the exact same behaviour, during uninstall the chocoinstalled.xml is removed, and 1~3 seconds after the dsc state fails the file is recreated.

[2021-09-01 06:48] laoist commented on #160
Same thing happening for me.

[2021-09-01 07:04] laoist commented on #156
This might be related, if it's not let me know.

I have my Chocolatey packages sitting in Azure DevOps Artefacts repostiory, hosts need to authenticate using a token which has an expiry date. I'm unable to simply update the credentials in order for the source to be updated, I instead have to remove the source and add it again, which brings further complicates due to the source name being a unique

[2021-09-13 10:24] bozho commented on #156
@pauby Sorry for a late update.

@laoist gave a nice example of the problem.

Chocolatey does not support altering the URL. My patch removes and re-creates the source on URL changes.

[2021-09-18 16:02] jyonke opened #161 "Module Manifest/Nuspec Version Mismatch"
**Describe the bug**
Installing cChoco outside of the PSGallery results in an invalid module being installed

**To Reproduce**
Steps to reproduce the behavior:
1. Download the raw nupkg from the PSGallery.
2. Upload to internal hosted repository (ex: Sonatype Nexus  - Nuget v2).
3. Register internal PowerShell repository .
4. Install cChoco Module from internal repository.
5. Import Module or Get-

[2021-10-05 11:23] mivica opened #162 "cChocoInstaller - Files from a previous installation of Chocolatey were found"
I get the below error intermittently with the "c:\choco" folder containing only one folder called "bin" and no files at all, e.g. "c:\choco\bin". The workaround is to remove the "c:\choco" folder from the drive, and the next DSC run goes all green. Can someone shed any light on this?

**[[cChocoInstaller]InstallChoco] Files from a previous installation of Chocolatey were found at 'c:\choco'.**

[2021-10-05 17:30] pauby commented on #162
Can you provide the code you are using to install Choco / Package that results in this?

[2021-10-06 14:39] mivica commented on #162
Please find attached.

[app.zip](https://github.com/chocolatey/cChoco/files/7294915/app.zip)

[2021-10-06 15:12] pauby commented on #162
Does [this issue](https://github.com/chocolatey/cChoco/issues/155) resolve it?

[2021-10-06 16:02] mivica commented on #162
The short answer is no. But at least we know what the issue may be, https://github.com/chocolatey/cChoco/issues/151#issuecomment-775166994. Is this going to get fixed and released soon?

[2021-10-06 16:31] pauby commented on #162
This was fixed [here](https://github.com/chocolatey/cChoco/commit/fbb7835ab44e555a23256126074a59ac09a31777) and [released.](https://github.com/chocolatey/cChoco/releases/tag/v2.5.0) Are you running the latest version?

[2021-10-06 16:48] mivica commented on #162
Yes, we are running the latest version, 2.5.0.
________________________________
From: Paul Broadwith ***@***.***>
Sent: Wednesday, October 6, 2021 5:32:01 PM
To: chocolatey/cChoco ***@***.***>
Cc: mivica ***@***.***>; Author ***@***.***>
Subject: Re: [chocolatey/cChoco] cChocoInstaller - Files from a previous installation of Chocolatey were found (#162)

This was fixed here<https://github.com/choc

[2021-10-06 16:56] pauby commented on #162
Then you have a different issue.

You mention that you have a folder with `bin` in there? Can you run the normal Chocolatey install script (ie. without DSC), installing to `c:\choco`, while the `c:\chcoo\bin` folder exists?

[2021-10-07 10:21] mivica commented on #162
The folder structure, including bin, is entirely created by cChoco install DSC, and still, it fails intermittently. I did not try to run it any other way than through DSC.

Did the file I shared helped in any way?

[2021-10-07 10:30] pauby commented on #162
The folder structure isn't created by cChoco. It's created by the Chocolatey install script.

Can you run the install script, on it's own, as I [requested above](https://github.com/chocolatey/cChoco/issues/162#issuecomment-936682647), to see if you get the same issues?

The file you shared didn't shed any more light on it.

[2021-10-07 10:52] mivica commented on #162
Technically it is created by cChoco DSC module, namely by cChocoInstaller resource. How do I run normal Chocolatey install script?

From: Paul Broadwith ***@***.***>
Sent: 07 October 2021 11:30
To: chocolatey/cChoco ***@***.***>
Cc: mivica ***@***.***>; Author ***@***.***>
Subject: Re: [chocolatey/cChoco] cChocoInstaller - Files from a previous installation of Chocolatey were found (#162)

The fol

[2021-10-11 10:58] mivica commented on #162
Hi, the issue is that the actual download is failing with "(429) Too Many Requests.", see below. At the same time, the install directory has already been created [here ](https://github.com/chocolatey/cChoco/blob/a7247220d57f5c6f6cc043f6198d002a816989d1/DSCResources/cChocoInstaller/cChocoInstaller.psm1#L183)before the [download](https://github.com/chocolatey/cChoco/blob/a7247220d57f5c6f6cc043f6198d

[2021-10-16 23:12] pauby commented on #162
I'm not entirely sure what's going on in this. From my tests with just this code:

[code]

Chocolatey is installed into `c:\choco` (as I'm not getting the error you get obviously). But, _there is no bin directory created_. The `bin` directory is used for shims that are created when packages are installed.

I also used this code from [this example](https://github.com/chocolatey/cChoco/blob/developm

[2021-10-17 07:50] mivica commented on #162
Hi Paul, thank you for your response and your time. Yes, you are correct; my initial assessment was incomplete. There is more than one download in this workflow, install.ps1 itself triggers at least one. They can all intermittently fail with HTTP 429 at different stages, which explains the bin folder.  429 error is documented on the Chocolatey [page](https://docs.chocolatey.org/en-us/community-rep

[2021-10-17 07:50] #162 closed, assigned to nobody

[2021-10-17 18:57] pauby commented on #162
@mivica you can host the install script yourself and pass the location of that to cChoco?

The Chocolatey Community Repository is not recommended for organisational use. There are a lot of docs around that (that I can't link to as I'm on my phone and don't have them to hand).

[2021-10-17 19:03] mivica commented on #162
You can, and I tried. But one can still get 429 from the additional downloads the script itself is executing.
________________________________
From: Paul Broadwith ***@***.***>
Sent: Sunday, October 17, 2021 7:57:14 PM
To: chocolatey/cChoco ***@***.***>
Cc: mivica ***@***.***>; Mention ***@***.***>
Subject: Re: [chocolatey/cChoco] cChocoInstaller - Files from a previous installation of Chocolatey

[2021-10-23 12:00] JPRuskin commented on #147
Do you mind if I take this on in an opinionated way, @pauby?

I was going to create an issue to mention that we're currently publishing _a lot more_ than we should be in the module artifact (e.g. [cChoco on PowerShellGallery](https://www.powershellgallery.com/packages/cChoco/2.5.0.0) contains the entire .git folder, the AppVeyor build scripts, and... well, everything else)

I can create a separate

[2021-10-25 11:40] pauby commented on #147
@JPRuskin Sure!

[2022-03-29 10:26] JeffreyH1989 commented on #160
Hello,

We are encountering the same issue when upgrading OpenJDK. Partial contained 11.0.8.1 before. When set to 11.0.14.1, the upgrade process runs succesfully (installer exits 0). However a second later we receive the same missing XML error

[2022-04-14 14:04] KrzaQ opened #164 "Chocolatey install dwgtrueview rebooted my computer without asking"
**Describe the bug**
I ran `choco install -y dwgtrueview` and it (attempted to) reboot my PC after one of the bunch of KB installs.

**To Reproduce**
Steps to reproduce the behavior:
1. Have fully updated Windows 10 PRO
2. `choco install -y dwgtrueview`

**Expected behavior**
Software installs or does not, but does not close any other process.

**Screenshots**
![](https://i.imgur.com/kgmwHkO.png)

[2022-04-14 14:49] pauby commented on #164
This is an issue you would need to take up with the package maintainer. It doesn't sound like you are using the cChoco PowerShell DSC Resource so I'll go ahead and close this. We can always reopen it again if I'm wrong.

[2022-04-14 14:49] #164 closed, assigned to nobody

[2022-04-14 14:53] KrzaQ commented on #164
Oh my, I am sorry, I thought this was chocolatey issues.

[2022-04-14 15:23] pauby commented on #164
Chocolatey issues is over at https://github.com/chocolatey/choco/issues. However, this looks to be a package issue, not a Chocolatey one, so I'd start with the package maintainer.

[2022-04-29 01:31] dappleby300 opened #165 "cChocoPackageInstaller with AutoUpgrade enabled continuously drifts"
Hi,

When using the cChocoPackageInstaller with AutoUpgrade set to $true the testing code continusly causes drifts due to the handling of the source parameter.

Version: Chocolatey v1.0.1
OS: Windows Server 2019

cChoco Module version: 2.5.0.0

Powershell:

[code]

DSC trace log;
[code]

The main issue is with the upgrade test line. The source value of "-pSource"sys-Baseline" causes it to fail.

'

[2022-04-29 02:05] dappleby300 commented on #165
This issue can be closed. It is fixed in 2.5.0.0 but my code was still loading the old 2.4.0.0 module.

[2022-04-29 02:05] #165 closed, assigned to nobody

[2022-05-06 11:25] timothy-mcroy-cengage opened #166 "Need an example to avoid corporate network rate limiting."
**Is your feature request related to a problem? Please describe.**
The default Example.ps1 config does not include an example to utilize a private NuGet feed to install chocolatey. When folks use the default example, they will run into Chocolatey's HTTP 429 rate limiting if they create too many servers too quickly behind a NAT.

**Describe the solution you'd like**
Introducing another example that

[2022-05-15 19:35] pauby commented on #26
I can't see the issues with this one and there has been no updates to this in some time, so I'm going to go ahead and close it. We can always reopen it again if needed.

[2022-05-15 19:35] #26 closed, assigned to nobody

[2022-05-16 09:28] pauby commented on #166
This was added [here](https://github.com/chocolatey/cChoco/commit/f85adebfd6bab767cbbb0f878a3a64bc29327457).

[2022-05-16 09:28] #166 closed, assigned to nobody

[2022-05-16 13:30] timothy-mcroy-cengage commented on #146
Giving this a small bump. This is still not working correctly..

While https://github.com/MattJeanes/cChoco/commit/559341c8e7c5dbbcc348d5b003f85ed6740e2cc5 would fix the problem as listed in the ticket, the error should still be written in the error stream, right?

This line is https://github.com/chocolatey/cChoco/blob/development/DSCResources/cChocoPackageInstall/cChocoPackageInstall.psm1#L293

T

[2022-05-16 17:26] pauby commented on #146
@timothy-mcroy-cengage The fix in this repository hasn't been released yet. Are you saying the [fix that was merged into develop](https://github.com/pauby/cChoco/commit/4cc760e94deee0b263d5e4d628c5ed03e68620e5) doesn't fix it? It looks the same as [MattJeanes commit](https://github.com/MattJeanes/cChoco/commit/559341c8e7c5dbbcc348d5b003f85ed6740e2cc5).

I'm a little confused 😄

[2022-05-16 17:30] timothy-mcroy-cengage commented on #146
Sorry, I was saying the change(s) linked _would_ fix the issue, but the errors aren't being written to the error stream.

I must confess that I wrote my above comment before my morning pot of coffee and could do a better job of communicating.

[2022-05-16 18:45] pauby commented on #160
We need steps to reproduce this before it can be looked at, including sample code.

[2022-05-16 18:49] pauby commented on #159
I appreciate this was some time ago, but I'm a little confused by this one. Encrypting the MOF would be done on your end node and not by this module. If you are using a pull configuration, then you would have to set up certificates to encrypt the MOF.

Can you elaborate on this one any further?

[2022-05-16 20:00] #156 closed, assigned to nobody

[2022-06-20 16:35] pauby opened #169 "Add ability to enable / disable sources"
**Is your feature request related to a problem? Please describe.**
Currently, you can add and remove a source, but you cannot enable or disable a source.

**Describe the solution you'd like**
The ability to add and remove a source.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-06-20 16:39] pauby opened #170 "Cannot assert self service, bypass proxy, or admin only"
**Is your feature request related to a problem? Please describe.**
Setting a source in DSC does not support:

* `--allowselfservice`
* `--bypassproxy`
* `--adminonly`

**Describe the solution you'd like**
To match the functionality offered by Chocolatey, these options should be added.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-06-30 14:53] warsus opened #171 "Path variable is corrupted if PsDscRunAsCredential is used"
# Path variable is corrupted if PsDscRunAsCredential is used

Hi,
i am installing packages under a specific Account using "PsDscRunAsCredential".
Unfortunately during the package installation process the the $env:Path variable is reset to only the "Machine" Path Variables by: `$env:Path = [Environment]::GetEnvironmentVariable('Path','Machine')`
This means all the User specific path variable entrie

[2022-10-03 19:27] jberezanski commented on #160
I just encountered the same error when upgrading the `pnpm` package from version 7.11.0 to 7.13.0. Here is the relevant part of Start-DscConfiguration output:
[code]

Here is the configuration fragment:
[code]

We are specifying the exact pnpm package version (using the `Version` property on the cChocoPackageInstaller resource), so the resource uninstalls the previous version and installs the spec

[2022-10-27 06:33] FLeven commented on #161
Could someone merge some PR's and make it a 2.5.0.1 ? I also like to install the module to some offline servers from an internal nexus oss.

[2022-10-27 12:06] FLeven opened #172 "Include exported DSC resources in the module manifest file"
**Describe the bug**
On push to private repo

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Clean push without warnings

**Software (please complete the following information):**
 - Server 2022
 - PowerShell Version 5.1
 - cChoco 2.5.0.0 / 2.5.0

[2022-11-16 17:38] pauby commented on #65
As Chocolatey CLI will remove support for side-by-side installations in version 2.0.0, I'm going to go ahead and close this.

[2022-11-16 17:38] #65 closed, assigned to nobody